<extend name="./public_part/public_part"/>
<block name="right">

<!--头部 end -->
        <!--左边导航-->
        <!--右边内容-->
        <div class="col-xs-12 col-sm-9 col-lg-10 sys_menu_box">
            <style>
                .withdrawals-box .account-money,.withdrawals-box .tip-account{width:50%}
                .tool-bar {
                    margin-bottom: 10px;
                    line-height: 30px;
                }
                .pd-20 {
                    padding: 20px;
                }
                .border-radus {
                    border-radius: 4px 4px 0 0;
                }
                .bg-white {
                    background-color: #fff!important;
                }
                .withdrawals-box .account-money .acc-title {
                    margin-right: 30px;
                }
                .color-red {
                    color: red;
                }
                .withdrawals-box .account-money .acc-title {
                    margin-right: 30px
                }
                .withdrawals-box .help-com, .withdrawals-box .tip-account {
                    position: relative;
                }
                .withdrawals-box .account-money ul {
                    padding-top: 20px;
                    border-right: 1px solid #e5e5e5
                }

                .withdrawals-box .account-money li {
                    float: left;
                    margin-right: 80px;
                    text-align: center
                }

                .withdrawals-box .account-money li span.acc-num {
                    font-size: 18px
                }

                .withdrawals-box .tip-account p {
                    margin: 0
                }

                .withdrawals-box .tip-account p.gray-color {
                    color: #666
                }

                .withdrawals-box .help-com .help-cont {
                    position: absolute;
                    width: 320px;
                    top: 35px;
                    left: -172px;
                    border: 1px solid #f1da96;
                    border-radius: 4px;
                    font-size: 12px;
                    background-color: #ffedb9;
                    z-index: 100
                }

                .withdrawals-box .help-com .help-cont p {
                    margin: 0;
                    line-height: 20px
                }

                .withdrawals-box .help-com .help-cont:after,.withdrawals-box .help-com .help-cont:before {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    left: 56%;
                    margin-left: -10px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent
                }

                .withdrawals-box .help-com .help-cont:before {
                    top: -11px;
                    border-bottom: 10px solid #f1da96
                }

                .withdrawals-box .help-com .help-cont:after {
                    top: -10px;
                    border-bottom: 10px solid #ffedb9
                }
                .gray-color{color:gray}
                .timer, {
                    text-align:Center;
                    text-shadow: 0 1px 5px rgba(0,0,0,.1);
                }
                .timer_title{height:20px;line-height:20px;margin:10px 0px;}
                .timer .days-wrapper,
                .timer .hours-wrapper,
                .timer .minutes-wrapper,
                .timer .seconds-wrapper {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    margin: 0 10px;
                    background: #32b16c;
                    color:#fff;
                    font-size: 18px;
                    line-height:60px;
                    text-align:Center;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }

            </style>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>账户充值</p>
                    <span class="label label-success">注意事项:</span>
                    <p style="margin-top:10px;color:red">
                        1. 每次充值红包、将收取充值金额总数的5%的手续费
                    </p>
                    <p style="margin-top:10px;color:red">
                        2. 单次充值金额必须大于10元
                    </p>
                </div>
                <div class="panel-body">
                    <form action="{:U('Lk/chongzhi')}" method="post" class="form-horizontal" role="form" onsubmit="return check_cz()">
                        <input type="hidden" value="" name="account_id">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span><span class="label label-danger">充值金额</span></label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="num" name="money" class="form-control" placeholder="请输入大于10的数字">
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-xs-6 col-sm-3 col-md-2 control-label"></label>
                            <div class="col-xs-6 col-sm-9 col-md-10">
                                <input type="submit" name="submit" value="充值" class="btn btn-primary col-lg-1">
                                <input type="hidden" name="token" value="7ea42ec0">
                            </div>
                        </div>
                    </form></div>
            </div>
            <script>
                //require(['jquery','../../../../addons/meepo_xianchang/template/resource/__PUBLIC__/Home/js/core']);
                function check_cz(){
                    var money = $("input[name='money']").val();
                    if(money<10){
                        util.message('充值金额必须大于10元.', '', 'error');
                        return false;
                    }
                    var sxf = money*0.05;
                    sxf = parseFloat(sxf);
                    sxf = sxf.toFixed(2);
                    if(sxf>0){
                        if(confirm("充值"+money+"元、将收取"+sxf+"元手续费、确认么？")){
                            return true;
                        }else{
                            return false;
                        }
                    }else{
                        return true;
                    }
                }
            </script>

            <div class="panel panel-default">
                <div class="panel-heading">账户充值明细</div>
                <div class="panel-body">
                    <table class="table table-hover" style="display:auto;">

                        <tr>
                            <th style="width:10%;text-align:center">状态</th>
                            <th style="width:30%;text-align:center">详细</th>
                            <th style="width:20%;text-align:center">时间</th>
                            <th style="width:40%;text-align:center">操作</th>
                        </tr>
                        <foreach name="lk" item="v">
                        <tr>
                            <td style="width:10%;text-align:center">
                            <a style="color: red">{$v['status_id']==1?'支付成功':'支付失败'}</a>
                            </td>
                            <td style="width:30%;text-align:center">
                                <p style="color: #ff0000">支付总金额:<span>{$v.zongjine}元</span></p>
                                <p style="color: #ff0000">充值金额:<span>{$v.jine}元</span></p>
                                <p style="color: #ff0000">充值手续费:<span>{$v.shouxufei}元</span></p>
                            </td>
                            <td style="width:20%;text-align:center;color: #ff0000">{$v.addtime|date="Y-m-d H:i:s" ,###}</td>
                            <td style="width:40%;text-align:center">
                                <a href="{:U('Lk/chongzhi')}?id={$v.id}&{$v.status_id}" style="color: #ff0000">{$v['status_id']==1?'继续充值':'重新支付'}</a>
                            </td>
                        </tr>
                            </foreach>
                    </table>
                    <div class="pager_box">
                    </div>
                </div>
            </div>
        </div>
</block>