
<extend name="./public_part/public_part"/>
<block name="right">
        <!--右边内容-->
        <div class="col-xs-12 col-sm-9 col-lg-10 sys_menu_box">
            <style>
                .withdrawals-box .account-money,.withdrawals-box .tip-account{width:50%}
                .tool-bar {
                    margin-bottom: 10px;
                    line-height: 30px;
                }
                .pd-20 {
                    padding: 20px;
                }
                .border-radus {
                    border-radius: 4px 4px 0 0;
                }
                .bg-white {
                    background-color: #fff!important;
                }
                .withdrawals-box .account-money .acc-title {
                    margin-right: 30px;
                }
                .color-red {
                    color: red;
                }
                .withdrawals-box .account-money .acc-title {
                    margin-right: 30px
                }
                .withdrawals-box .help-com, .withdrawals-box .tip-account {
                    position: relative;
                }
                .withdrawals-box .account-money ul {
                    padding-top: 20px;
                    border-right: 1px solid #e5e5e5
                }

                .withdrawals-box .account-money li {
                    float: left;
                    margin-right: 80px;
                    text-align: center
                }

                .withdrawals-box .account-money li span.acc-num {
                    font-size: 18px
                }

                .withdrawals-box .tip-account p {
                    margin: 0
                }

                .withdrawals-box .tip-account p.gray-color {
                    color: #666
                }

                .withdrawals-box .help-com .help-cont {
                    position: absolute;
                    width: 320px;
                    top: 35px;
                    left: -172px;
                    border: 1px solid #f1da96;
                    border-radius: 4px;
                    font-size: 12px;
                    background-color: #ffedb9;
                    z-index: 100
                }

                .withdrawals-box .help-com .help-cont p {
                    margin: 0;
                    line-height: 20px
                }

                .withdrawals-box .help-com .help-cont:after,.withdrawals-box .help-com .help-cont:before {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    left: 56%;
                    margin-left: -10px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent
                }

                .withdrawals-box .help-com .help-cont:before {
                    top: -11px;
                    border-bottom: 10px solid #f1da96
                }

                .withdrawals-box .help-com .help-cont:after {
                    top: -10px;
                    border-bottom: 10px solid #ffedb9
                }
                .gray-color{color:gray}
                .timer, {
                    text-align:Center;
                    text-shadow: 0 1px 5px rgba(0,0,0,.1);
                }
                .timer_title{height:20px;line-height:20px;margin:10px 0px;}
                .timer .days-wrapper,
                .timer .hours-wrapper,
                .timer .minutes-wrapper,
                .timer .seconds-wrapper {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    margin: 0 10px;
                    background: #32b16c;
                    color:#fff;
                    font-size: 18px;
                    line-height:60px;
                    text-align:Center;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }

            </style>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="{:U('Lk/details')}"></i> 红包账户明细</a>
                </li>
                <li>
                    <a href="{:U('Lk/chongzhi')}"><i class="fa fa-file-text" aria-hidden="true"></i> 账户充值</a>
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">红包账户明细</div>
                <div class="panel-body withdrawals-box">
                    <div class="tool-bar bg-white border-radus clearfix pd-20">
                        <div class="account-money pull-left">
                            <ul class="list-unstyled pull-left v-align-t">
                                <li>
                                    <div class="color-red">￥<span class="acc-num js-earn">{$prices}</span></div>
                                    <p>账户余额（元）</p>
                                </li>
                                <li>
                                    <div class="color-red">￥<span class="acc-num js-cash">0.00</span></div>
                                    <p>已发放（元）</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tip-account pull-right help-info">
                            <div>温馨提醒：<span class="color-red js-leftCount">您的红包账号余额太少、将影响您的抢红包活动哦!</span></div>
                            <div style="margin-top:30px;"><a class="btn btn-success pull-left" href="{:U('Lk/chongzhi')}">立即充值</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <form action="" method="post" class="form-horizontal" role="form" ng-controller="formCtrl" id="form2">
                <div class="panel panel-default">
                    <div class="panel-heading">红包发放明细</div>
                    <div class="panel-body">
                        <table class="table table-hover" style="display:auto;">
                            <thead class="navbar-inner">
                            <tr>
                                <th style="width:50%;text-align:center">活动名称</th>
                                <th style="width:50%;text-align:center">详细</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <!--<tr>
                                <td><input type="checkbox" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});"></td>
                                <td colspan="12">
                                    <input type="submit" class="btn btn-pramary" name="down" value="导出选定数据" />
                                    <input type="submit" class="btn btn-pramary" name="downall" value="导出所有数据" />
                                    <input type="hidden" name="token" value="7ea42ec0">
                                </td>
                            </tr>-->
                        </table>
                        <div class="pager_box">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--slider css--->
        <link rel="stylesheet" href="__PUBLIC__/Home/css/boostrap.slider.css">
        <style>
            .slider.slider-horizontal {
                height:40px;
                width:100%;
            }
            .slider.slider-horizontal .slider-handle {
                margin-left: -10px;
                margin-top: 10px;
            }
            #Slider .slider-handle {
                background: #36b27a;
                border-radius:50%;
            }
            #Slider .slider-selection {
                background: #36b27a;
            }
            .add-jian input{height:40px;text-align:center}
            .quantity-remove, .quantity-add {
                cursor: pointer;
            }
            .quantity-add.glyphicon, .quantity-remove.glyphicon {
                display: block;
                cursor: pointer;
            }
            .slider_box{
                padding:20px;margin-bottom:0px;display:none
            }
            .update_important{
                position:absolute;
                top:0;
                right:80px;
                color:gray;
                cursor:pointer;
                z-index:10
            }
            .update_important.active{
                color:#22B766
            }
            .update_important.active:hover{
                color:gray
            }
            .update_important:hover{
                color:#22B766
            }
        </style>
        <!--slider end--->
        <!--wall-list-->
        <script>
            $(function(){
                $(".update_important").on('click',function(){
                    var $this = $(this);
                    var ac_id = $this.attr('data-id');
                    var is_important = $this.attr('data-important');
                    $.post("./index.php?c=site&a=entry&do=update_important&m=meepo_xianchang",{ac_id:ac_id,is_important:is_important},function(result){
                        console.log(result);
                        if(result.errno==0){
                            if(result.message==1){//加入特别关心
                                $this.attr('data-important','1');
                                $this.addClass('active');

                            }else{//取消特别关心
                                $this.attr('data-important','0');
                                $this.removeClass('active');
                            }
                        }
                    },'json');
                });
            })
        </script>
    </div>
</div>
</div>
<script>
    $(document).ready(function(){
        if($('#loading').length>0){
            $('#loading').remove();
        }
    });
</script>
<!--默认js-->

<script type="text/javascript">
    require(['bootstrap']);
    $('.js-clip').each(function(){
        util.clip(this, $(this).attr('data-url'));
    });
</script>

<!--默认js-->


<!--尾部-->
<style>
    #footer{
        height:60px;
        width:100%;
        text-align: center;
        /*background-color: #f3f3f4;*/
        line-height:60px;
    }
    #footer .copy_right{
        color: #000;
        margin:0;

    }

    *{ margin:0; padding:0; list-style:none;}
    img{ border:0;}

    .rides-cs {  font-size: 12px; background:#29a7e2; position: fixed; top: 250px; right: 0px; _position: absolute; z-index: 1500; border-radius:6px 0px 0 6px;}
    .rides-cs a { color: #00A0E9;}
    .rides-cs a:hover { color: #ff8100; text-decoration: none;}
    .rides-cs .floatL { width: 36px; float:left; position: relative; z-index:1;margin-top: 21px;min-height: 181px;}
    .rides-cs .floatL a { font-size:0; text-indent: -999em; display: block;}
    .rides-cs .floatR { width: 130px; float: left; padding: 5px; overflow:hidden;}
    .rides-cs .floatR .cn {background:#F7F7F7; border-radius:6px;margin-top:4px;}
    .rides-cs .cn .titZx{ font-size: 14px; color: #333;font-weight:600; line-height:24px;padding:5px;text-align:center;}
    .rides-cs .cn ul {padding:0px;}
    .rides-cs .cn ul li { line-height: 38px; height:38px;border-bottom: solid 1px #E6E4E4;overflow: hidden;text-align:center;}
    .rides-cs .cn ul li span { color: #777;}
    .rides-cs .cn ul li a{color: #777;}
    .rides-cs .cn ul li img { vertical-align: middle;}
    .rides-cs .btnOpen, .rides-cs .btnCtn {  position: relative; z-index:9; top:25px; left: 0;  background-image: url(http://demo.lanrenzhijia.com/2014/service1031/__PUBLIC__/Home/images/lanrenzhijia.png); background-repeat: no-repeat; display:block;  height: 146px; padding: 8px;}
    .rides-cs .btnOpen { background-position: 0 0;}
    .rides-cs .btnCtn { background-position: -37px 0;}
    .rides-cs ul li.top { border-bottom: solid #ACE5F9 1px;}
    .rides-cs ul li.bot { border-bottom: none;}

    #goto-top {
        display:none;
        position:fixed;
        width:40px;
        height:40px;
        background-image:url(../addons/meepo_xianchang/template/resource/__PUBLIC__/Home/images/top.png);
        bottom:30px;
        right:10px;
        -webkit-transition:all 0.2s;
        -moz-transition:all 0.2s;
        -o-transition:all 0.2s;
        transition:all 0.2s;
        z-index:9999;
    }
    #goto-top:hover {
        cursor:point
    }
</style>

<script>
    $(function(){
        $("#aFloatTools_Show").click(function(){
            $('#divFloatToolsView').animate({width:'show',opacity:'show'},100,function(){$('#divFloatToolsView').show();});
            $('#aFloatTools_Show').hide();
            $('#aFloatTools_Hide').show();
        });
        $("#aFloatTools_Hide").click(function(){
            $('#divFloatToolsView').animate({width:'hide', opacity:'hide'},100,function(){$('#divFloatToolsView').hide();});
            $('#aFloatTools_Show').show();
            $('#aFloatTools_Hide').hide();
        });
    });
    $(function(){
        //置顶按钮显示/隐藏实现
        $(window).scroll(function(){
            var w_height = $(window).height();//浏览器高度
            var scroll_top = $(document).scrollTop();//滚动条到顶部的垂直高度
            if(scroll_top >w_height){
                $("#goto-top").fadeIn(500);
            }else{
                $("#goto-top").fadeOut(500);
            }
        });
        //置顶
        $("#goto-top").click(function(e){
            e.preventDefault();
            $(document.documentElement).animate({
                scrollTop: 0
            },500);
            //支持chrome
            $(document.body).animate({
                scrollTop: 0
            },500);
        });
    })
</script>
</block>