<extend name="Application/Home/View/Home/head.html"/>
<block name="man">
<div class="wrap" id="wrap">
  <div id="top"></div>
  <!--end:header-->
  <!--start:商城banner-->
  <div class="banner-mall">
    <a href="http://www.juxianchang.com/" target="_blank" class="btn-buy">一键体验</a>
  </div>
  <!--end:商城banner-->
  <div id="js_menu" class="nav-mall">
    <div class="inner">
      <div class=" swiper-container">
        <ul class="clearfix swiper-wrapper">
          <li id="js_menuNormal" class="curr swiper-slide"><a href="http://www.juxianchang.com/mall/#js_mallNormal">优惠套餐<em></em></a></li>
          <li id="js_menuMore" class="swiper-slide"><a href="http://www.juxianchang.com/mall/#js_mallMore">升级套餐<em></em></a></li>
          <li id="js_menuCheckin" class="swiper-slide"><a href="http://www.juxianchang.com/mall/#js_mallCheckin">签到应用<em></em></a></li>
          <li id="js_menuHudong" class="swiper-slide"><a href="http://www.juxianchang.com/mall/#js_mallHudong">现场互动<em></em></a></li>
          <li id="js_menuLottery" class="swiper-slide"><a href="http://www.juxianchang.com/mall/#js_mallLottery">抽奖互动<em></em></a></li>
          <li id="js_menuBooking" class="swiper-slide"><a href="http://www.juxianchang.com/mall/#js_mallBooking">风格定制<em></em></a></li>
          <li id="js_menuService" class="swiper-slide"><a href="http://www.juxianchang.com/mall/#js_mallService">增值服务<em></em></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--start:商城container-->
  <div class="inner">

        <div id="js_mallCheckin" class="web-column2">
      <h3 class="title1"><span><em></em>签到应用</span></h3>
      <div class="funcs-list3">
  <ul class="clearfix">
      <li>
      <a href="http://www.juxianchang.com/wxfunction/qiandao/62.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170822083104876.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">拍照签到<br><span style="font-size:15px;">800元/天/台		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/qiandao/48.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170430062431824.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">LOGO墙		<br><span style="font-size:15px;">3000元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/qiandao/39.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170429122210645.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">手绘签到		<br><span style="font-size:15px;">800元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/baoming/30.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481354053.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">邀请函		<br><span style="font-size:15px;">500元/次		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/baoming/28.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161005102001298.jpg" style="border-radius:50px;" width="90" height="90">
        <span class="name">活动报名		<br><span style="font-size:15px;">500元/次		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/baoming/27.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481354098.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">电子票		<br><span style="font-size:15px;">500元/次		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/kphd/26.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161004065334214.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">签到统计		<br><span style="font-size:15px;">0元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/qiandao/14.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481378960.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">ibaecon互动		<br><span style="font-size:15px;">500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/qiandao/10.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481424672.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">3D签到		<br><span style="font-size:15px;">4000元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/qiandao/7.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161007095944802.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">签到		<br><span style="font-size:15px;">200元起/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
                               
      </ul>
</div>    </div>
        <!--end:签到应用-->
    
    <!--start:现场互动-->
        <div id="js_mallHudong" class="web-column2">
      <h3 class="title1"><span><em></em>现场互动</span></h3>
        <div class="funcs-list3">
  <ul class="clearfix">
		
												<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/64.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170822083144465.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">电子签约		<br><span style="font-size:15px;">需要联系定价		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/47.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170430062152391.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">许愿树		<br><span style="font-size:15px;">500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/45.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170430061328455.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">高级弹幕		<br><span style="font-size:15px;">1500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/44.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170430060946831.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">消息霸屏		<br><span style="font-size:15px;">500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/34.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481438622.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">微信墙		<br><span style="font-size:15px;">300元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/25.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481354140.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">现场直播		<br><span style="font-size:15px;">1500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/21.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481354241.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">投票		<br><span style="font-size:15px;">500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/18.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481354279.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">对对碰		<br><span style="font-size:15px;">200元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/11.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161007100057884.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">弹幕		<br><span style="font-size:15px;">200元起/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭--></span>
       <span class="price"></span>
              </a>
    </li>
              
                                 
      </ul>
</div>    </div>
        <!--end:现场互动-->
    
        <div id="js_mallLottery" class="web-column2">
      <h3 class="title1"><span><em></em>抽奖互动</span></h3>
      <div class="funcs-list3">
  <ul class="clearfix">
		
												<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/66.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20171202072322152.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">人脸识别抽奖		<br><span style="font-size:15px;">4888/场		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/65.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170927012040868.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">3D抽奖		<br><span style="font-size:15px;">联系客服		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/63.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170822083211227.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">疯狂数钱		<br><span style="font-size:15px;">800元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;">1200元/天</span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/53.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1495776529.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">猴子爬树		<br><span style="font-size:15px;">600元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/52.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161007100007101.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">团队摇一摇		<br><span style="font-size:15px;">500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;">800元/天</span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/46.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170430061504921.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">幸运大转盘		<br><span style="font-size:15px;">500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/38.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481440362.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">抽奖箱		<br><span style="font-size:15px;">200元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/37.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481439937.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">砸金蛋		<br><span style="font-size:15px;">200元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/36.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481439605.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">幸运号码		<br><span style="font-size:15px;">200元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/35.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481439191.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">幸运手机号		<br><span style="font-size:15px;">200元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/33.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481376881.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">红包雨		<br><span style="font-size:15px;">500元起/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/23.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161007100007101.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">摇一摇		<br><span style="font-size:15px;">300起/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/20.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481440673.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">跑马摇一摇		<br><span style="font-size:15px;">300起/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/hudong/15.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161007100044168.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">摇红包		<br><span style="font-size:15px;">500元/天		</span>  <!--关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
                                       
      </ul>
</div>    </div>
        <!--end:抽奖互动-->
    
        <div id="js_mallBooking" class="web-column2">
      <h3 class="title1"><span><em></em>风格定制</span></h3>
      <div class="funcs-list3">
  <ul class="clearfix">
     		
												<li>
      <a href="http://www.juxianchang.com/wxfunction/kphd/22.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481354369.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">自定义LOGO		<br><span style="font-size:15px;">0元/天		</span> <!-- 关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/kphd/17.html" target="_blank">
       <img src="__PUBLIC__/Home/images/1481354327.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">自定义背景		<br><span style="font-size:15px;">0元/天		</span> <!-- 关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
                                       
      </ul>
</div>    </div>
        <!--end:风格定制-->
    
        <div id="js_mallService" class="web-column2">
      <h3 class="title1"><span><em></em>增值服务</span></h3>
      <div class="funcs-list3">
  <ul class="clearfix">
     		
												<li>
      <a href="http://www.juxianchang.com/wxfunction/zservice/43.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20170430051624590.jpg" style="border-radius:50px;" width="90" height="90">
        <span class="name"> 硬件租赁		<br><span style="font-size:15px;">联系客服		</span> <!-- 关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/zservice/42.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161007075850645.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">互动策划		<br><span style="font-size:15px;">3000元/场		</span> <!-- 关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"></span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/zservice/41.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161007100032289.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">人工服务(省外)		<br><span style="font-size:15px;">3000元/天		</span> <!-- 关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;">4000元/天</span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
               			<li>
      <a href="http://www.juxianchang.com/wxfunction/zservice/40.html" target="_blank">
       <img src="__PUBLIC__/Home/images/20161007100032289.png" style="border-radius:50px;" width="90" height="90">
        <span class="name">人工服务(重庆)		<br><span style="font-size:15px;">1500元/天		</span> <!-- 关闭价格显示-->
		<!--原价-->
		<span class="" style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;">3000元/天</span>
		<!--关闭-->
		</span>
       <span class="price"></span>
              </a>
    </li>
              
                                       
      </ul>
</div>    </div>

  </div>
  <!--end:商城container-->
<script>
$(function(){
  
  var wrapW =  (window.parent != window.self) ? $(window.parent.window).width() : $(window).width();
  var wrapH =  (window.parent != window.self) ? $(window.parent.window).height() : $(window).height();
  
  //商城导航
  /*标准套餐*/
  if (wrapW < 769){
	var navMallSwiper = new Swiper('.nav-mall .swiper-container', {
		slidesPerView: 'auto',
		spaceBetween: 30
		});
  }
  
   /*升级套餐*/
  var boxW = $('.mall-meals2 li .con').width();
  $('.mall-meals2 li .swiper-container, .mall-meals2 li .swiper-slide').css({ width:boxW });
  
  var meals2Length = $('.mall-meals2 li').length;
  /*标准套餐*/
  if (wrapW < 641){
    var slideW = $('.mall-meals').width()-30;
	$('.mall-meals li, .mall-meals2 li').css({ width:slideW });
	  var mealsSwiper = new Swiper('.mall-meals', {
		  nextButton: '.mall-meals .swiper-button-next',
		  prevButton: '.mall-meals .swiper-button-prev',
		  slidesPerView: 1,
		  slidesPerGroup : 1,
		  slidesPerColumn: 1,
		  loop:true,
		  spaceBetween: 0
	  });
	  
	  var meals2Swiper = new Swiper('.mall-meals2', {
		  nextButton: '.mall-meals2 > .swiper-button-next',
		  prevButton: '.mall-meals2 > .swiper-button-prev',
		  slidesPerView: 1,
		  slidesPerGroup : 1,
		  slidesPerColumn: 1,
		  loop:true,
		  spaceBetween: 0
	  });
	  
	  $('.mall-meals2 li .swiper-container, .mall-meals2 li .swiper-slide').css({ height:'280px' });
	  for (var i=1; i <= meals2Length; i++){
		var swiper = new Swiper('.mall-meals2 li:nth-child('+ i +') .swiper-container', {
			pagination: '.mall-meals2 li:nth-child('+ i +') .swiper-pagination',
			nextButton: '.mall-meals2 li:nth-child('+ i +') .swiper-button-next',
			prevButton: '.mall-meals2 li:nth-child('+ i +') .swiper-button-prev',
			slidesPerView: 1,
			loop:true,
			direction: 'vertical',
			spaceBetween: 0
		});
	 }
  
  } else {
     for (var i=1; i <= meals2Length; i++){
	  var swiper = new Swiper('.mall-meals2 li:nth-child('+ i +') .swiper-container', {
		  nextButton: '.mall-meals2 li:nth-child('+ i +') .swiper-button-next',
		  prevButton: '.mall-meals2 li:nth-child('+ i +') .swiper-button-prev',
		  slidesPerView: 1,
		  slidesPerGroup : 1,
		  slidesPerColumn: 1,
		  loop:true,
		  spaceBetween: 0
	  });
   }
  }
  
  /*应用*/
  $('.web-column2 .title1 span').click(function(){
    $(this).parents('.title1').siblings('.funcs-list3').toggle(1000);
  })
  
});

//tab切换  
function nTabs(tabObj, obj) {
  var tabList = document.getElementById(tabObj).getElementsByTagName("li");
  for (i = 0; i < tabList.length; i++) {
    if (tabList[i].id == obj.id) {
      document.getElementById(tabObj + i).className = "curr";
      document.getElementById(tabObj + 'Con' + i).style.display = "block";
    } else {
      document.getElementById(tabObj + i).className = " ";
      document.getElementById(tabObj + 'Con' + i).style.display = "none";
    }
  }
}
</script>
 <script>

  var url = "http://www.juxianchang.com";
  $(function () {
    var qdStyleSwiper=new Swiper('#jsQdStyle',{
        autoplay:2000,
         speed:600,
         loop:true,
         autoplayDisableOnInteraction:false,
         nextButton: '#jsQdStyle .swiper-button-next',
         prevButton: '#jsQdStyle .swiper-button-prev'
       })
     
     $('.jsPopShow').click(function(){
    	 $('#jsPopTan').show();
     })
     $('#jsPopClose').click(function(){
    	  $('#jsPopTan').hide();
     })

    $('.js_btnContact').click(function () {
      if ($('.js_casesContact').hasClass('hidden')) {
        $('.js_casesContact').removeClass('hidden');
      } else {
        $('.js_casesContact').addClass('hidden');
      }
    });

    var bodyw = $('body').width();
    if (bodyw > 1100) {
      $('#js_casesBooking li').mouseover(function () {
        $(this).find('.pics-intro').show();
        $('#js_casesBooking li .pics').css({boxShadow: 'none'});
      })
      $('#js_casesBooking li .pics-intro').mouseleave(function () {
        $(this).hide();
        $('#js_casesBooking li .pics').css({boxShadow: '0 3px 10px rgba(0,0,0,0.5)'});
      });
    }
    var length = $('#js_casesBooking li').length;
    for (var i = 0; i <= length; i++) {
      $('#js_casesBooking li:nth-child(' + i + ')').find('.pics').addClass('js_casesBooking' + i);
      $('#js_casesBooking li:nth-child(' + i + ')').find('.swiper-pagination').addClass('navi' + i);
      var myswiper = new Swiper('.js_casesBooking' + i, {
        pagination: '.navi' + i,
        paginationClickable: true,
        effect: 'slide',
        spaceBetween: 0,
        autoplay: 2000,
        speed: 1000,
        loop: true
      });
    }

    //根据浏览器宽度设置导航样式
    if ($(window).width() < 525) {
      $('#js_navLit >div').addClass('nav-swiper-container');
      $('#js_navLit>div ul').addClass('swiper-wrapper ');
      $('#js_navLit>div ul li').addClass('swiper-slide');
      $('#js_navLit').append('<div class="swiper-button-prev btn-pre"></div>' + '<div class="btn-next swiper-button-next"></div>')


      var navSwiper = new Swiper('.nav-swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 1,
        grabCursor: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'

      })
    }
    var oldPage = 0;
    $('#js_cons ul:eq(' + 0 + ') li').css('opacity', 1)
    $('#js_cons ul:eq(' + 0 + ') li').css({'opacity': 1})
    $('.funcs-scence3 .con').css({'height': $('#js_cons ul:eq(' + 0 + ')').height() + 'px'});

    $('#js_baNavs3 li').on('click', function () {
      var count = $('#js_baNavs3 li').index(this);

      $('#js_baNavs3 li').removeClass('curr');
      $('#js_baNavs3 li:eq(' + count + ')').addClass('curr');
      var goodsId = $(this).attr('data-goods');

      $('#btn-goods').attr('href', url + "/wxfunction/zservice/" + goodsId);
      $('#js_cons ul:eq(' + count + ')').css('display', 'block');
      $('.funcs-scence3 .con').animate({'height': $('#js_cons ul:eq(' + count + ')').height() + 'px'}, 1000);

      if (count != oldPage) {
        //判断创建的ul位置

        if (count > oldPage) {
          for (var i = 0; i < $('#js_cons ul:eq(' + count + ') li').length; i++) {
            //总运动时间相同
            //第二行比第一行开始速度慢  Math.floor(i/3)判断为第几行
            //每行第一个速度比第二个快  i%3 判断为第几行第几个
            $('#js_cons ul:eq(' + count + ') li:eq(' + i + ')').css({
              '-webkit-animation-name': 'moveLeft2',
              'animation-name': 'moveLeft2',
              '-webkit-animation-delay': (3 - i % 3) * .04 + Math.floor(i / 3) * .1 + 's',
              'animation-delay': (3 - i % 3) * .04 + Math.floor(i / 3) * .1 + 's',
              '-webkit-animation-duration': 1.5 - (3 - i % 3) * .04 - Math.floor(i / 3) * .1 + 's',
              'animation-duration': 1.5 - (3 - i % 3) * .03 - Math.floor(i / 3) * .1 + 's',
              '-webkit-animation-timing-function': 'ease-in-out',
              'animation-timing-function': 'ease-in-out',
              '-webkit-animation-fill-mode': 'forwards',
              'animation-fill-mode': 'forwards',
              '-webkit-animation-iteration-count': '1',
              'animation-iteration-count': '1'
            })
          }
          for (var i = 0; i < $('#js_cons ul:eq(' + oldPage + ') li').length; i++) {
            //总运动时间相同
            //第二行比第一行开始速度慢  Math.floor(i/3)判断为第几行
            //每行第一个速度比第二个快  i%3 判断为第几行第几个
            $('#js_cons ul:eq(' + oldPage + ') li:eq(' + i + ')').css({
              '-webkit-animation-name': 'moveLeft1',
              'animation-name': 'moveLeft1',
              '-webkit-animation-delay': (3 - i % 3) * .04 + Math.floor(i / 3) * .1 + 's',
              'animation-delay': (3 - i % 3) * .04 + Math.floor(i / 3) * .1 + 's',
              '-webkit-animation-duration': 1.5 - (3 - i % 3) * .04 - Math.floor(i / 3) * .1 + 's',
              'animation-duration': 1.5 - (3 - i % 3) * .04 - Math.floor(i / 3) * .1 + 's',
              '-webkit-animation-timing-function': 'ease-in-out',
              'animation-timing-function': 'ease-in-out',
              '-webkit-animation-fill-mode': 'forwards',
              'animation-fill-mode': 'forwards',
              '-webkit-animation-iteration-count': '1',
              'animation-iteration-count': '1'
            })
          }
          oldPage = count;
        } else {
          for (var i = 0; i < $('#js_cons ul:eq(' + count + ') li').length; i++) {
            //总运动时间相同
            //第二行比第一行开始速度慢  Math.floor(i/3)判断为第几行
            //每行第一个速度比第二个快  i%3 判断为第几行第几个
            $('#js_cons ul:eq(' + count + ') li:eq(' + i + ')').css({
              '-webkit-animation-name': 'moveRight2',
              'animation-name': 'moveRight2',
              '-webkit-animation-delay': (3 - i % 3) * .04 + Math.floor(i / 3) * .1 + .3 + 's',
              'animation-delay': (3 - i % 3) * .04 + Math.floor(i / 3) * .1 + .3 + 's',
              '-webkit-animation-duration': 1.5 - (3 - i % 3) * .04 - Math.floor(i / 3) * .1 + 's',
              'animation-duration': 1.5 - (3 - i % 3) * .04 - Math.floor(i / 3) * .1 + 's',
              '-webkit-animation-timing-function': 'ease-in-out',
              'animation-timing-function': 'ease-in-out',
              '-webkit-animation-fill-mode': 'forwards',
              'animation-fill-mode': 'forwards',
              '-webkit-animation-iteration-count': '1',
              'animation-iteration-count': '1'
            })
          }
          for (var i = 0; i < $('#js_cons ul:eq(' + oldPage + ') li').length; i++) {
            //总运动时间相同
            //第二行比第一行开始速度慢  Math.floor(i/3)判断为第几行
            //每行第一个速度比第二个快  i%3 判断为第几行第几个
            $('#js_cons ul:eq(' + oldPage + ') li:eq(' + i + ')').css({
              '-webkit-animation-name': 'moveRight1',
              'animation-name': 'moveRight1',
              '-webkit-animation-delay': (i % 3) * .03 + Math.floor(i / 3) * .1 + 's',
              'animation-delay': (i % 3) * .03 + Math.floor(i / 3) * .1 + 's',
              '-webkit-animation-duration': 1.5 - (i % 3) * .04 - Math.floor(i / 3) * .1 + 's',
              'animation-duration': 1.5 - (i % 3) * .04 - Math.floor(i / 3) * .1 + 's',
              '-webkit-animation-timing-function': 'ease-in-out',
              'animation-timing-function': 'ease-in-out',
              '-webkit-animation-fill-mode': 'forwards',
              'animation-fill-mode': 'forwards',
              '-webkit-animation-iteration-count': '1',
              'animation-iteration-count': '1'
            })
          }
          oldPage = count;
        }
        setTimeout(function () {
          $('#js_cons ul li').css('opacity', 0)
          $('#js_cons ul:eq(' + count + ') li').css('opacity', 1);
          $('#js_cons ul').css('display', 'none');
          $('#js_cons ul:eq(' + count + ')').css('display', 'block');
        }, 1600)
      }

    });

    $('#js_baNavs3 li:first').click();

    

  });

  //tab切换
  function nTabs(tabObj, obj) {
    var tabList = document.getElementById(tabObj).getElementsByTagName("a");
    for (i = 0; i < tabList.length; i++) {
      if (tabList[i].id == obj.id) {
        document.getElementById(tabObj + i).className = "curr";
        document.getElementById(tabObj + 'Con' + i).style.display = "block";
      } else {
        document.getElementById(tabObj + i).className = " ";
        document.getElementById(tabObj + 'Con' + i).style.display = "none";
      }
    }
  }
</script>
<!--start:footer-->
<!-- wrap end-->
<div class="popmayer hidden"></div>
<div class="pop-common pop-pay" style="display:none;position:fixed;" id="commMsgLayer">
  <div class="inner-pop">
    <div class="pop-top">
      <span class="poptit">提示信息</span>
    </div>
    <div class="pop-main">
      <p class="pop-tips" style="padding:0;  word-wrap: break-word;word-break: break-all;text-align:center;"></p>
      <p class="pop-wrap-btn">

      </p>
    </div>
  </div>
</div>
<a href="http://www.juxianchang.com/mall/#top" id="scrollUp" style="display: none; position: fixed; z-index: 2147483647;"></a>
<script type="text/javascript" src="__PUBLIC__/Home/js/tongji.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?43d2749eb596ae10194fc448ac5d5fa6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
    </block>