<extend name="Application/Home/View/Home/head.html"/>
<block name="man">
<div class="wrap" id="wrap">
  <div id="top"></div>
<div class="main">
	<div class="list_wjxwall">
    	<div class="crumbs"><a href="http://www.juxianchang.com/">网站首页</a><span> &gt; </span><a href="http://www.juxianchang.com/jiaocheng/">微信墙教程</a> &gt;  列表</div><ul class="list lh24 f14">
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="做微信大屏幕互动时，怎样让用户关注公众号参与互动！" href="{:U('lkone')}"><img width="400" height="300" title="做微信大屏幕互动时，怎样让用户关注公众号参与互动！" alt="做微信大屏幕互动时，怎样让用户关注公众号参与互动！" class="" src="__PUBLIC__/Home/images/1497581878.png">	</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="做微信大屏幕互动时，怎样让用户关注公众号参与互动！" href="{:U('lkone')}">做微信大屏幕互动时，怎样让用户关注公众号参与互动！</a></h2>
					<p class="intro">很多客户希望在做微信摇一摇，微信抽奖，留言墙的时候，能够吸引更多的粉丝来关注自己的平台才能参与互动！...... <a target="_blank" title="做微信大屏幕互动时，怎样让用户关注公众号参与互动！" href="{:U('lkone')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="聚现场微信墙新功能推出：签到验证+微信签到美化背景+签到后返回座位信息等" href="{:U('Lktwo')}">
							<img width="400" height="300" title="聚现场微信墙新功能推出：签到验证+微信签到美化背景+签到后返回座位信息等" alt="聚现场微信墙新功能推出：签到验证+微信签到美化背景+签到后返回座位信息等" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/1497581878.png">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="聚现场微信墙新功能推出：签到验证+微信签到美化背景+签到后返回座位信息等" href="{:U('Lktwo')}">聚现场微信墙新功能推出：签到验证+微信签到美化背景+签到后返回座位信息等</a></h2>
					<p class="intro">聚现场签到页可自定义背景图，登记验证签到者信息，返回自定义信息。...... <a target="_blank" title="聚现场微信墙新功能推出：签到验证+微信签到美化背景+签到后返回座位信息等" href="{:U('Lktwo')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="聚现场：猴子爬树微信摇一摇设置" href="{:U('lktheer')}">
							<img width="400" height="300" title="聚现场：猴子爬树微信摇一摇设置" alt="聚现场：猴子爬树微信摇一摇设置" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/1495775932.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="聚现场：猴子爬树微信摇一摇设置" href="{:U('lktheer')}">聚现场：猴子爬树微信摇一摇设置</a></h2>
					<p class="intro">聚现场近期增加了微信摇一摇的游戏形式：猴子爬树都知道摇一摇在活动中是一个非常火爆的项目，除了增加主办方的微信粉丝，同时强力提升活动   ...... <a target="_blank" title="聚现场：猴子爬树微信摇一摇设置" href="{:U('lktheer')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="聚现场微信墙微信抽奖/微信摇一摇背景音乐，主推大气背景音乐和喜庆背景音" href="{:U('lkfour')}">
							<img width="400" height="300" title="聚现场微信墙微信抽奖/微信摇一摇背景音乐，主推大气背景音乐和喜庆背景音" alt="聚现场微信墙微信抽奖/微信摇一摇背景音乐，主推大气背景音乐和喜庆背景音" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/thumb_400_300_20161006095428997.png">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="聚现场微信墙微信抽奖/微信摇一摇背景音乐，主推大气背景音乐和喜庆背景音" href="{:U('lkfour')}">聚现场微信墙微信抽奖/微信摇一摇背景音乐，主推大气背景音乐和喜庆背景音</a></h2>
					<p class="intro">聚现场微信墙根据几千场微信互动上墙，大屏幕抽奖，微信摇一摇活动整理出使用频率最高的音乐，提供给大家使用。首先是轻柔的背景音乐，大家   ...... <a target="_blank" title="聚现场微信墙微信抽奖/微信摇一摇背景音乐，主推大气背景音乐和喜庆背景音" href="{:U('lkfour')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="微信大屏幕现场互动怎么操作？" href="{:U('lkfive')}">
							<img width="400" height="300" title="微信大屏幕现场互动怎么操作？" alt="微信大屏幕现场互动怎么操作？" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/thumb_400_300_20161029104238228.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="微信大屏幕现场互动怎么操作？" href="{:U('lkfive')}">微信大屏幕现场互动怎么操作？</a></h2>
					<p class="intro">聚现场微信大屏幕-聚现场是国内专业的微信现场互动解决供应商,支持微信3D签到、验证签到、现场上墙、微信互动、微信抽奖、微信摇红包等！   ...... <a target="_blank" title="微信大屏幕现场互动怎么操作？" href="{:U('lkfive')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
        </ul>
        <div id="pages" class="text-c"><a class="a1">14条</a> <a href="{:U(Lk1/index)}" class="a1">上一页</a> <span>1</span> <a href="{:U('Lk1/index2')}">2</a> <a href="{:U('Lk1/index3')}">3</a> <a href="{:U('Lk1/index2')}" class="a1">下一页</a></div>
  </div>
  </div>
</div>
</block>