<extend name="Application/Home/View/Home/head.html"/>
<block name="man">
<div class="wrap" id="wrap">
  <div id="top"></div>
<div class="main">
	<div class="list_wjxwall">
    	<div class="crumbs"><a href="http://www.juxianchang.com/">网站首页</a><span> &gt; </span><a href="http://www.juxianchang.com/jiaocheng/">微信墙教程</a> &gt;  列表</div>
    	        <ul class="list lh24 f14">
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="教程二：如何配置微信大屏幕？" href="{:U('lksix')}">
							<img width="400" height="300" title="教程二：如何配置微信大屏幕？" alt="教程二：如何配置微信大屏幕？" class="home-thumb wp-post-image" src="http://qn.juxianchang.com/14957956575.png">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="教程二：如何配置微信大屏幕？" href="{:U('lksix')}">教程二：如何配置微信大屏幕？</a></h2>
					<p class="intro">微信墙_微信大屏幕_微信抽奖微盒微信大屏幕;专注微现场互动微信消息上墙、微信抽奖、现场摇一摇、微信3D签到、扫码签到等等教程二：消息   ...... <a target="_blank" title="教程二：如何配置微信大屏幕？" href="{:U('lksix')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="聚现场：开通创建与平台绑定" href="{:U('lkseven')}">
							<img width="400" height="300" title="聚现场：开通创建与平台绑定" alt="聚现场：开通创建与平台绑定" class="home-thumb wp-post-image" src="http://www.juxianchang.com/uploadfile/2016/0513/thumb_400_300_20160513094910366.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="聚现场：开通创建与平台绑定" href="{:U('lkseven')}">聚现场：开通创建与平台绑定</a></h2>
					<p class="intro">教程一为最基础操作。...... <a target="_blank" title="聚现场：开通创建与平台绑定" href="{:U('lkseven')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇" href="{:U('lkeight')}">
							<img width="400" height="300" title="盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇" alt="盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇" class="home-thumb wp-post-image" src="http://www.juxianchang.com/uploadfile/2015/0126/thumb_400_300_20150126113458181.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇" href="{:U('lkeight')}">盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇</a></h2>
					<p class="intro">微盒微信墙为了方便用户，已经预设了30多款不同风格的漂亮的主题模块，选择就可以使用。如果觉得预设的模板还不够有个性，不够突出主题，也   ...... <a target="_blank" title="盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇" href="{:U('lkeight')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="盒子教你设置微信手机墙，不用看大屏幕也能玩得嗨 " href="{:U('lknane')}">
							<img width="400" height="300" title="盒子教你设置微信手机墙，不用看大屏幕也能玩得嗨 " alt="盒子教你设置微信手机墙，不用看大屏幕也能玩得嗨 " class="home-thumb wp-post-image" src="http://www.juxianchang.com/uploadfile/2015/0126/thumb_400_300_20150126095038130.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="盒子教你设置微信手机墙，不用看大屏幕也能玩得嗨 " href="{:U('lknane')}">盒子教你设置微信手机墙，不用看大屏幕也能玩得嗨 </a></h2>
					<p class="intro">手机墙是微久信微信墙的一个特色，大家发送的上墙消息，不仅仅实时上墙，还同步出现在手机界面当中。
这个极大的解决了，大屏幕太远，发的消息看不清楚的问题...... <a target="_blank" title="盒子教你设置微信手机墙，不用看大屏幕也能玩得嗨 " href="{:U('lknane')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
        </ul>
        <div id="pages" class="text-c"><a class="a1">14条</a> <a href="{:U('Lk1/index2')}" class="a1">上一页</a> <a href="{:U('Lk1/index')}">1</a> <a href="{:U('Lk1/index2')}">2</a> <span>3</span> <a href="{:U('Lk1/index3')}" class="a1">下一页</a></div>
  </div>
  </div>
</div>
    </block>