<extend name="Application/Home/View/Home/head.html"/>
<block name="man">
<div class="wrap" id="wrap">
  <div id="top"></div>
<div class="main">
	<div class="list_wjxwall">
    	<div class="crumbs"><a href="http://www.juxianchang.com/">网站首页</a><span> &gt; </span><a href="http://www.juxianchang.com/jiaocheng/">微信墙教程</a> &gt;  列表</div>
    	        <ul class="list lh24 f14">
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="怎么做微信摇一摇_如何进行现场微信抽奖？【视频教程】" href="{:U('lk')}">
							<img width="400" height="300" title="怎么做微信摇一摇_如何进行现场微信抽奖？【视频教程】" alt="怎么做微信摇一摇_如何进行现场微信抽奖？【视频教程】" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/1481529949.png">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="怎么做微信摇一摇_如何进行现场微信抽奖？【视频教程】" href="{:U('lk')}">怎么做微信摇一摇_如何进行现场微信抽奖？【视频教程】</a></h2>
					<p class="intro">微信现场摇一摇配置视频教程 请用电脑打开若有不清楚的地方可咨 喔！...... <a target="_blank" title="怎么做微信摇一摇_如何进行现场微信抽奖？【视频教程】" href="{:U('lk')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="微信墙怎么开通_微信上墙怎么申请对接？【视频教程】" href="{:U('lkten')}">
							<img width="400" height="300" title="微信墙怎么开通_微信上墙怎么申请对接？【视频教程】" alt="微信墙怎么开通_微信上墙怎么申请对接？【视频教程】" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/thumb_400_300_20160513113042859.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="微信墙怎么开通_微信上墙怎么申请对接？【视频教程】" href="{:U('lkten')}">微信墙怎么开通_微信上墙怎么申请对接？【视频教程】</a></h2>
					<p class="intro">微信公众平台与聚现场微信大屏幕互动教程不清楚的地方请联系QQ客服！...... <a target="_blank" title="微信墙怎么开通_微信上墙怎么申请对接？【视频教程】" href="{:U('lkten')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="怎么做？【新手必看】" href="{:U('six')}">
							<img width="400" height="300" title="怎么做？【新手必看】" alt="怎么做？【新手必看】" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/thumb_400_300_20160513113024158.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="怎么做？【新手必看】" href="{:U('six')}">怎么做？【新手必看】</a></h2>
					<p class="intro">我们这里是教大家如何将聚现场【聚现场】微信墙接入您的微信公众号，具体的美化和其他设置，亲们参考各个项目对应的功能教程。微信上墙准   ...... <a target="_blank" title="怎么做？【新手必看】" href="{:U('six')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="微信墙跑马摇一摇怎么做？" href="{:U('ten')}">
							<img width="400" height="300" title="微信墙跑马摇一摇怎么做？" alt="微信墙跑马摇一摇怎么做？" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/thumb_400_300_20161029104158894.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="微信墙跑马摇一摇怎么做？" href="{:U('ten')}">微信墙跑马摇一摇怎么做？</a></h2>
					<p class="intro">微信墙又被称为微信大屏幕，在微信墙怎么做_微信上墙怎么申请？【新手必看】中小编已经告诉大家如何发送消息上墙了。微信墙最具互动，最火   ...... <a target="_blank" title="微信墙跑马摇一摇怎么做？" href="{:U('ten')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
	<div class="art_img_box clearfix">
	<div class="fl innerimg_box">
	  <a target="_blank" title="微信3d签到！聚现场如何实现？" href="{:U('nane')}">
							<img width="400" height="300" title="微信3d签到！聚现场如何实现？" alt="微信3d签到！聚现场如何实现？" class="home-thumb wp-post-image" src="__PUBLIC__/Home/images/thumb_400_300_20161001122423209.jpg">								</a>
	</div>
    <div class="fr box_content">
					<h2><a target="_blank" title="微信3d签到！聚现场如何实现？" href="{:U('nane')}">微信3d签到！聚现场如何实现？</a></h2>
					<p class="intro">聚现场-聚现场3d签到墙可以把微信签到用户的头像组成3d立体的球形或者圆形，也可以组成公司的 logo或者企业的名字，现场效果震撼酷炫，微信3d签到墙是活动会议的电子签到首选功能！...... <a target="_blank" title="微信3d签到！聚现场如何实现？" href="{:U('nane')}">【点击查看信息】</a></p>
                   </div>
			<div class="news"></div>
             </div>
	
        </ul>
        <div id="pages" class="text-c"><a class="a1">14条</a> <a href="{:U('Lk1/index')}" class="a1">上一页</a> <a href="{:U('Lk1/index')}">1</a> <span>2</span> <a href="{:U('Lk1/index3')}">3</a> <a href="{:U('Lk1/index3')}" class="a1">下一页</a></div>
  </div>
  </div>
</div>
</block>