<extend name="Application/Home/View/Home/head2.html"/>
<block name="wei">
<div class="wrap" id="wrap">
  <div id="top"></div>
  <div class="container clearfix">
    <div class="casedetail casedetail-type1">
      <div class="case-part1 clearfix">
        <div class="textdetail">
            <h1>怎么做微信摇一摇_如何进行现场微信抽奖？【视频教程】</h1>
            <div class="shop-d">
              <center> <span class="date-act">来源：</span>&nbsp;&nbsp;&nbsp;<span>更新时间：2015-09-19</span></center> 
                          </div>

   
             <div class="detail-scroll">
              <div class="swiper-container gallery-top swiper-container-horizontal">
                <div id="caseLeft3" class="swiper-button-Prev swiper-button-disabled"><em></em></div>
                  <div id="caseRight3" class="swiper-button-Next swiper-button-disabled"><em></em></div>
               
              </div>
         
            </div>
                    </div>
      </div>
	<!--end .case-part1-->
      <div class="case-part2 clearfix">
        <div class="textbox ">
          <div class="textdetail">
            <p></p><p style="text-align: center;"><span style="font-size: 20px; color: #00B0F0;"><strong>微信现场摇一摇配置视频教程</strong></span></p><p style="text-align: center;"><span style="font-size: 20px; color: #00B0F0;"><strong>&nbsp; 请用电脑打开</strong></span></p><p><br></p><p style="text-align: center;"><strong>若有不清楚的地方可咨询在线客服喔！</strong></p><p><strong><br></strong></p><p style="text-align: center;"><embed type="application/x-shockwave-flash" class="edui-faked-video" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://player.youku.com/player.php/sid/XMjY0MjExMjY1Mg==/v.swf#paction" width="480" height="320" wmode="transparent" play="true" loop="false" menu="false" allowscriptaccess="never" allowfullscreen="true"></p><p></p>
          </div>
                   <!--	<div class="article_bm">【<a href="#">返回顶部</a>】 【<a href="javascript:window.print()">打印此页</a>】 【<a href="#" onclick="javascript:window.close();">关闭</a>】</div>
                          -->  <ul class="news_other">
                                <li class="pre">上一篇：<a href="{:U('ten')}">微信墙怎么开通_微信上墙怎么申请对接？【视频教程】</a> </li>
                                <li class="next">下一篇：<a href="{:U('lkfive')}">微信大屏幕现场互动怎么操作？</a> </li>
                            </ul>
            </div>
        </div>
        </div>
      </div>
    </div>
  </block>