<extend name="Application/Home/View/Home/head2.html"/>
<block name="wei">
<div class="wrap" id="wrap">
  <div id="top"></div>
  <!-- <div style="height:50px;"></div> -->
  <div class="container clearfix">
    <div class="casedetail casedetail-type1">
      <div class="case-part1 clearfix">
        <div class="textdetail">
            <h1>盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇</h1>
            <div class="shop-d">
              <center> <span class="date-act">来源：</span>&nbsp;&nbsp;&nbsp;<span>更新时间：2015-01-26</span></center> 
                          </div>

             <div class="detail-scroll">
              <div class="swiper-container gallery-top swiper-container-horizontal">
                <div id="caseLeft3" class="swiper-button-Prev swiper-button-disabled"><em></em></div>
                  <div id="caseRight3" class="swiper-button-Next swiper-button-disabled"><em></em></div>
               
              </div>
         
            </div>
                    </div>
      </div>

	<!--end .case-part1-->
      <div class="case-part2 clearfix">
        <div class="textbox ">
          <div class="textdetail">
            <p><span style="font-size:16px;">微盒<a class="keylink" href="http://www.juxianchang.com/" target="_blank">微信墙</a>为了方便用户，已经预设了30多款不同风格的漂亮的主题模块，选择就可以使用。<br>
<br>
如果觉得预设的模板还不够有个性，不够突出主题，也可以自定义背景哦。<br>
操作很简单，在自定义背景处上传你喜欢的图片就可以了。<br>
上传自己的背景图片(尺寸建议1440px × 900px或1262px × 789px)；优先于“背景图片”，要使用“背景图片”的设置须清空此项；<br>
<br>
<br>
<img data-bd-imgshare-binded="1" src="__PUBLIC__/Home/images/20150126113407149.jpg" style="height: 586px; width: 1122px;"><br>
<br>
<br>
分享一些用户的自定义背景：<br>
<br>
<img data-bd-imgshare-binded="1" src="__PUBLIC__/Home/images/20150126113505862.jpg" style="height: 700px; width: 1000px;"><br>
<br>
<img data-bd-imgshare-binded="1" src="__PUBLIC__/Home/images/20150126113506159.jpg" style="height: 565px; width: 1000px;"><br>
<br>
<br>
<img data-bd-imgshare-binded="1" src="__PUBLIC__/Home/images/20150126113507304.jpg" style="height: 582px; width: 1000px;"></span></p>
          </div>

                   <!--	<div class="article_bm">【<a href="#">返回顶部</a>】 【<a href="javascript:window.print()">打印此页</a>】 【<a href="#" onclick="javascript:window.close();">关闭</a>】</div>
                          -->  <ul class="news_other">
                                <li class="pre">上一篇：<a href="http://www.juxianchang.com/jiaocheng/50.html">盒子教你设置微信手机墙，不用看大屏幕也能玩得嗨 </a> </li>
                                <li class="next">下一篇：<a href="http://www.juxianchang.com/jiaocheng/85.html">聚现场：开通创建与平台绑定</a> </li>
                            </ul>
          <script>
              window._bd_share_config = {
              //此处添加分享具体设置
              common : {
                  //此处放置通用设置
                  bdText : "#微信大屏幕# #微信墙# 我在@微盒互动 盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇 ",
                  bdUrl : "",
                  bdPic : "http://www.juxianchang.com/statics/images/nopic.gif",
                  searchPic : 0,
                  render : true
              },
              share : [
                  //此处放置分享按钮设置
                  { "bdSize" : 32, }
              ]
              }
              //以下为js加载部分
              with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
            </script>
        </div>
        <!--end:左侧-->
      </div><!--end .case-part2-->
      <!--end .case-part4-->
    </div><!--end .casedetail-->
  </div>
 <!-- <script type="text/javascript" src="http://www.juxianchang.com/statics/js/show_picture.js"></script>
<script type="text/javascript" src="http://www.juxianchang.com/api.php?op=count&id=57&modelid=1"></script>-->


</div> <!-- wrap end-->
</block>