<extend name="Application/Home/View/Home/head2.html"/>
<block name="wei">
<div class="wrap" id="wrap">
  <div id="top"></div>




  <!-- <div style="height:50px;"></div> -->
  <div class="container clearfix">
    <div class="casedetail casedetail-type1">
      <div class="case-part1 clearfix">
        <div class="textdetail">
            <h1>盒子教你设置微信手机墙，不用看大屏幕也能玩得嗨 </h1>
            <div class="shop-d">
              <center> <span class="date-act">来源：</span>&nbsp;&nbsp;&nbsp;<span>更新时间：2015-01-26</span></center> 
                          </div>

   
             <div class="detail-scroll">
              <div class="swiper-container gallery-top swiper-container-horizontal">
                <div id="caseLeft3" class="swiper-button-Prev swiper-button-disabled"><em></em></div>
                  <div id="caseRight3" class="swiper-button-Next swiper-button-disabled"><em></em></div>
               
              </div>
         
            </div>
                    </div>
      </div>
	
	
	
	<!--end .case-part1-->
	
   
      <div class="case-part2 clearfix">
        <div class="textbox ">
          <div class="textdetail">
            <p><span style="font-size:16px;"><strong>手机墙是<a href="http://www.juxianchang.com/">微盒<span class="keylink">大屏幕</span></a>的一个特色，大家发送的上墙消息，不仅仅实时上墙，还同步出现在手机界面当中。</strong><br>
这个极大的解决了，大屏幕太远，发的消息看不清楚的问题，大家发的消息可以在手机上查看。</span><br>
<br>
<strong><span style="font-size:16px;"><a href="http://www.juxianchang.com/"><span class="keylink">微信墙</span></a>的上墙效果</span></strong><br>
<img alt="" src="__PUBLIC__/Home/images/20150126095038130.jpg" style="width: 900px; height: 446px;"><br>
<br>
<span style="font-size:16px;"><strong>发送了签到命令之后，再次发送消息，就可以上墙了。<br>
<br>
此时就会弹出微信手机墙界面了</strong></span><br>
<img alt="" src="__PUBLIC__/Home/images/20150126095206964.jpg" style="width: 300px; height: 480px;"><br>
<br>
<span style="font-size:16px;"><strong>点击进入就可以在手机上看到大家发上墙的消息。<br>
<br>
还可以对发上墙的消息进行点赞或者评价哦。<br>
<br>
<img alt="" src="__PUBLIC__/Home/images/20150126095307482.png" style="width: 300px; height: 533px;"></strong></span><br>
<br>
<strong><span style="font-size:16px;">温馨提示：<br>
<br>
1、免费版不开通手机墙，只会出现文字提示“信息上墙成功！请查看现场大屏幕！”<br>
2、收费升级的版本可以联系客服选择开通手机墙或者不开通。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 因为开通手机墙也是有利有弊的。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 利的一面：方便大家参与互动，不用一直盯着远方的大屏幕。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 弊的一面：手机开通的话，大家有可能会经常盯着手机玩，不专心看现场的表演或者演讲等。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 另外不管上墙方式选择的是自动上墙，还是审核上墙，手机墙都是全部消息上墙的，审核不了哦。<br>
<br>
请大家根据自己的选择来选择是否开通手机墙哦！</span></strong></p>
          </div>

		
                   <!--	<div class="article_bm">【<a href="#">返回顶部</a>】 【<a href="javascript:window.print()">打印此页</a>】 【<a href="#" onclick="javascript:window.close();">关闭</a>】</div>
                          -->  <ul class="news_other">
                                <li class="pre">上一篇：<a href="{:U('index')}">第一页</a> </li>
                                <li class="next">下一篇：<a href="{:U('lknane')}">盒子先生带你设置微信墙自定义背景，个性化时代岂能千篇</a> </li>
                            </ul> 
      </div>
          </div>
        </div>
      </div>
    </div>
</block>