<extend name="./public_part/Home_public"/>
<block name="connect_top">
    <div class="column2 clearfix">
        <div class="column2-pic left js_funcPic">
            <div id="js_funcPicBig" class="swiper-container  gallery-top">
                <div class="swiper-pagination"></div>
                <ul class="swiper-wrapper column2-pic-big">
                    <li class="swiper-slide"><img src="__PUBLIC__/Home/images/20161005103444728.png"></li>
                </ul>
            </div>
            <div id="js_funcPicSmall" class="swiper-container gallery-thumbs">
                <ul class="swiper-wrapper column2-pic-small clearfix">
                </ul>
            </div>
        </div>
        <div class="column2-con left">
            <h3>邀请函 </h3>
            <p>更多定制需求，详情请咨询客服。</p>
            <p class="price">￥<span>500元/次</span></p>
            <p style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"><span></span></p>
            <div class="tag">


            </div>
            <div class="options">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=2758820275&site=qq&menu=yes" class="btn-buy btn-normal btn-buy">立即联系</a>

                <div id="js_iconShopcar" class="icon-shopcar js_iconShopcar"><i></i></div>


            </div>
        </div>
    </div>
</block>
<block name="connect_right">
    <div class="detail right">
        <div class="detail-tab js_detailTab clearfix">
            <ul class="left">
                <li><a href="#jsDetailIntro">详情介绍</a></li>

            </ul>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=2758820275&site=qq&menu=yes" class="btn-shopcar"><em></em>立即联系</a>
        </div>
        <div id="jsDetailIntro" class="detail-con">
            <div class="txt">
                <p>微信邀请函：例如请帖、喜帖、普通电子邀请函等</p><p style="padding: 0px; margin: 0px; color: rgb(0, 0, 0); font-family: &#39;Microsoft yahei&#39;, Arial, Helvetica, sans-serif; font-size: 14px; text-align: center;">&nbsp;</p><p style="padding: 0px; margin: 0px; color: rgb(0, 0, 0); font-family: &#39;Microsoft yahei&#39;, Arial, Helvetica, sans-serif; font-size: 14px; text-align: center;"><span style="padding: 0px; margin: 0px; color: #FF0000; font-size: 24px;">&nbsp;更多需求，详情请咨询客服。</span></p>		   </div>
        </div>

    </div>
</block>