<extend name="./public_part/Home_public"/>
<block name="connect_top">
    <div class="column2 clearfix">
        <div class="column2-pic left js_funcPic">
            <div id="js_funcPicBig" class="swiper-container  gallery-top">
                <div class="swiper-pagination"></div>
                <ul class="swiper-wrapper column2-pic-big">
                    <li class="swiper-slide"><img src="__PUBLIC__/Home/images/1481377529.jpg"></li>
                </ul>
            </div>
            <div id="js_funcPicSmall" class="swiper-container gallery-thumbs">
                <ul class="swiper-wrapper column2-pic-small clearfix">
                </ul>
            </div>
        </div>
        <div class="column2-con left">
            <h3>自定义LOGO </h3>
            <p>上传您自己的Logo，加强品牌宣传。 购买该功能后，可在大屏幕“设置”页面上传Logo。</p>
            <p class="price">￥<span>0元/天</span></p>
            <p style="display: block; font-size: 12px; color:red;text-decoration: line-through; margin: -3px 0 0;"><span></span></p>
            <div class="tag">


            </div>
            <div class="options">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=2758820275&site=qq&menu=yes" class="btn-buy btn-normal btn-buy">立即联系</a>

                <div id="js_iconShopcar" class="icon-shopcar js_iconShopcar"><i></i></div>


            </div>
        </div>
    </div>
</block>
<block name="connect_right">
    <div class="detail right">
        <div class="detail-tab js_detailTab clearfix">
            <ul class="left">
                <li><a href="#jsDetailIntro">详情介绍</a></li>

            </ul>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=2758820275&site=qq&menu=yes" class="btn-shopcar"><em></em>立即联系</a>
        </div>
        <div id="jsDetailIntro" class="detail-con">
            <div class="txt">
                <p style="text-align: center;"><span style="color: #00B0F0; font-size: 24px;"><strong>全局LOGO免费自定义&nbsp;</strong></span></p><p><span helvetica="" style="font-size: 18px; color: #000000; font-family: " text-align:=""><br/></span></p><p style="text-align: center;"><span helvetica="" style="font-size: 18px; color: #000000; font-family: " text-align:=""><img src="http://qn.juxianchang.com/1481377529.jpg" alt="QQ截图20161210214453.jpg" width="600" height="337" border="0" vspace="0" style="width: 600px; height: 337px;"/></span></p><p><br/></p><p>&nbsp;</p>		   </div>
        </div>

    </div>
</block>
