.msg-tips{height:40px; line-height:40px; padding:0 15px; color:#3eb742; background:#f6ffeb; margin:20px 0px 20px 0px;}
.tips-danger{ height:auto; padding:10px 15px; font-size:12px; line-height:20px; color:#ff3737; background:#ffdfdf; border:1px solid #e08989; margin:0 0 20px;}
.tips-success{ height:auto; padding:10px 15px; font-size:12px; line-height:20px; color:#333; background:#ddffd5; border:1px solid #a7d093; margin:0 0 20px;}
.tips-danger2 p {width:100%;font-size: 14px;line-height: 30px;}
.sys_menu_box{padding-left:5px;padding-right:0px;}
.sys_menu{background-color:#fff;}
.sys-menu-user{ height:auto; padding:27px 0 18px; text-align:center; font-size:16px; line-height:24px;}
.sys-menu-user a{ color:#444;}
.sys-menu-user a.set{ color:#0e9aed;}
.sys-menu-user p{ font-size:14px;}
.sys-menu-user p a.btn-agency{ display:inline-block; width:110px; height:30px; line-height:30px; text-align:center; color:#fff; font-size:14px; background:#32b16c; margin:10px 0;}
.sys-menu-user .avatar{ width:60px; height:60px; border-radius:50%; overflow:hidden; margin:0 auto 5px;}
.sys-menu-user .avatar img{ width:60px; height:60px; border-radius:50%;}
.sys-menu-balance{ height:auto; padding:15px 0 22px; text-align:center; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;}
.sys-menu-balance p{ font-size:18px; line-height:24px; padding:0 0 15px;}
.sys-menu-balance a{ display:block; width:108px; height:30px; line-height:30px; font-size:16px; color:#fff; text-align:center; background:#3eb742; margin:0 auto;}
.sys-menu-menu{ height:auto; padding:15px 0;}
.sys-menu-menu > li{ height:auto; margin:7px 0;}
.sys-menu-menu li a{ display:block; height:32px; line-height:32px; color:#a5a5a5; padding:0 0 0 45px; position:relative; margin-bottom:1px;}
.sys-menu-menu > li > a:hover, .sys-menu-menu > li.curr > a{ padding:0 0 0 42px; border-left:3px solid #3eb742; background:#f1f1f1;}
.sys-menu-menu > li > a:hover em,.sys-menu-menu > li.curr > a em{ left:22px;}
.sys-menu-menu .level2 li{ height:32px; position:relative;}
.sys-menu-menu .level2 li a{ color:#000;}
.sys-menu-menu .level2 li a span.name{ display:inline-block; height:32px; position:relative;}
.sys-menu-menu .level2 li a span.name .tag{ display:none; position:absolute; left:100%; top:3px; margin-left:8px; height:26px; line-height:26px; white-space:nowrap; color:#fff; padding:0 0 0 9px; border-radius:4px; background:#32b16c;}
.sys-menu-menu .level2 li a span.name .tag i{ display:block; width:6px; height:8px; background:url(../images/mall/icons4.png?v=20161128) -60px -30px no-repeat; position:absolute; left:-6px; top:9px;}
.sys-menu-menu .level2 li.curr a, .sys-menu-menu .level2 li a:hover{ padding:0 0 0 42px; border-left:3px solid #3eb742; background:#f1f1f1;}
.sys-menu-menu .level2 li.curr a span.name .tag, 
.sys-menu-menu .level2 li a:hover span.name .tag{ display:inline-block;}
.icon-screen{ display:inline-block; width:14px; height:16px; background:url(../images/icons.png?v=20160913) -80px 0 no-repeat; position:absolute; left:25px; top:50%; margin-top:-8px;}
.icon-count{ display:inline-block; width:18px; height:18px; background:url(../images/icons.png?v=20160913) -80px -40px no-repeat; position:absolute; left:25px; top:50%; margin-top:-9px;}
.icon-tui{ display:inline-block; width:16px; height:16px; background:url(../images/icons.png?v=20160913) -120px 0 no-repeat; position:absolute; left:25px; top:50%; margin-top:-8px;}
.icon-func{ display:inline-block; width:16px; height:16px; background:url(../images/icons.png?v=20160913) -280px -120px no-repeat; position:absolute; left:25px; top:50%; margin-top:-8px;}
.icon-set{ display:inline-block; width:16px; height:16px; background:url(../images/icons.png?v=20160913) -40px -80px no-repeat; position:absolute; top:50%; margin-top:-8px; left:25px;}
.icon-manage{ display:inline-block; width:15px; height:15px; background:url(../images/icons.png?v=20160913) -80px -80px no-repeat; position:absolute; top:50%; margin-top:-8px; left:25px;}
.icon-orders{ display:inline-block; width:12px; height:16px; background:url(../images/icons4.png?v=20161128) 0 0 no-repeat; position:absolute; left:25px; top:50%; margin-top:-8px;}