@charset "UTF-8";
/* CSS Document */

/*官网响应式
样式来源于国内外网站
*/
@media screen and (max-width:1100px){
  .inner{ width:auto; padding:0 10px;}
  
  /*一*/
  .funcs-list1 li .con{ width:210px;}
  .funcs-list1 li .line{ width:230px;}
  
  /*3*/
  .live-map{ -webkit-transform:translate(-0.25%, 0) scale(0.8, 0.8); margin:-50px -44px;}
  
  /*深*/
  .cases-list1 li .pics{ width:300px; height:212px;}
  .cases-list1 li .pics img{ width:300px; height:212px;}
  .cases-contact{ bottom:auto; padding:20px 30px; box-shadow:0 0 10px rgba(0,0,0,0.3);}
  
  /**/
  .cases-list2 .swiper-container{ width:100%;}
  .cases-list2 .item1 a{ width:300px;}
  .cases-list2 .item1 span.pic,
  .cases-list2 .item1 img{ width:300px; height:206px;}
  
  /*案例展示*/
  .cases-list3 li a{ width:300px;}
  .cases-list3 li img{ width:300px; height:194px;}
  
}

@media screen and (max-width:1024px){
  .inner2{ width:auto; padding:0 10px;}

  /*30+花样互动,主宰每个现场*/
  .live-map{ -webkit-transform:translate(-6%, 0) scale(0.6, 0.6); margin:-120px -44px -100px;}
  
  /*footer*/
  .menu2-list{ float:none; display:block; width:auto; height:auto; border:none; padding:0 20px;}
  .menu2-list li{ padding:0; width:20%;}
  .menu2-phone{ float:none; display:block; clear:both; text-align:left; padding:0 20px;}
  .menu2 .inner2{ width:auto;}
  .logobottom{ margin-left:20px;}
  .copyright{ margin-right:20px;}
  
  /*商城首页--套餐*/
  .mall-meals li .box a,
  .mall-meals2 li .box a{ font-size:14px;}
  .mall-meals li .price,
  .mall-meals2 li .price{ font-size:30px;}
  .mall-meals li .price-prev,
  .mall-meals2 li .price-prev{ font-size:18px; padding:0 0 10px;}
  
  /*商城首页--现场支持*/
  .live{ padding-top:15px;}
  .live-tabs{ margin-top:-20px;}

}

@media screen and (max-width:960px){
  /*一站式场景互动服务平台*/
  .funcs-list1 li .line{ width:100%;}
  
  /*深度定制，想你所想*/
  .cases-list1 li{ width:50%;}

  /*会务推荐*/
  .cases-list2 .item1 a{ width:280px;}
  .cases-list2 .item1 span.pic,
  .cases-list2 .item1 img{ width:280px; height:193px;}
  
  /*案例展示*/
  .cases-list3 li{ width:50%;}
  
  /*相关报道*/
  .news-list1 li{ padding:0 0 40px 315px;}
  .news-list1 li .pic{ width:298px; height:201px; line-height:200px; margin-left:-315px;}
  .news-list1 li .txt{ font-size:14px; line-height:24px; height:96px;}
  .news-list1 li h3{ font-size:16px; line-height:24px;}
  
  /*首页--他们也在用*/
  .logoes-list1 li img{ width:90%;}
  
  /*商城首页--套餐*/
  .mall-meals li .box{ padding:23px 25px 0;}
  
}

@media screen and (max-width:885px){
  /*导航*/
  .logged, .nav-login{ display:none;}
  
  /*banner*/
  .pc-banner{ display:none;}
  .banner-wrap{ display:none;}

  /*一站式场景互动服务平台*/
  .funcs-list1 li .con{ width:180px;}
  
  /*30+花样互动,主宰每个现场*/
  .live-map{ -webkit-transform:translate(-14%, 0) scale(0.5, 0.5); margin:-160px -44px -140px;}
  
  /*会务推荐*/
  .cases-list2 .swiper-container,
  .cases-list2 .swiper-slide{ height:auto; padding:0 0 20px;}
  .cases-list2 .item1 a{ width:auto; margin:0 10px;}
  .cases-list2 .item1 span.pic,
  .cases-list2 .item1 img{ width:100%; height:auto; position:static;}
  .cases-list2 .item1 a:hover img{ -webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);}
  .cases-list2 .item1 span.title{ font-size:14px; line-height:22px; height:66px;}
  
  /*联系我们*/
  .locationbox{ display:block; width:100%; float:none; padding:0 0 20px;}
  .sendus{ display:block; float:none;}
  
  /*商城首页--banner*/
  .banner-mall .btn-buy{ margin-left:-80px; top:200px;}
  
}

@media screen and (max-width:768px){
  /*导航*/
  .logo{ margin-left:15px;}
  .btn-menu{ display:block; width:60px; height:60px; text-align:center; background:none; border:none; position:relative; cursor:pointer;}
  .btn-menu span{ display:block; width:30px; height:4px; background:#000; transition:all .35s cubic-bezier(0,.5,.5,1.6); position:absolute; right:15px;}
  .btn-menu span:nth-child(1){ top:18px;}
  .btn-menu span:nth-child(3){ bottom:18px;}
  .btn-menu span:nth-child(2){ top:50%; margin-top:-2px;}
  .btn-menu.curr span:nth-child(1){ top:50%; margin-top:-2px; -webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
  .btn-menu.curr span:nth-child(3){ top:50%; margin-top:-2px; -webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
  .btn-menu.curr span:nth-child(2){ -webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);}
  .logged{ display:;}
  .nav-list{ display:none; position:absolute; top:60px; right:0px; width:auto; height:auto; padding:0;}
  .nav-list li{ float:none; height:auto; background:#fff; border-top:1px solid rgba(0,0,0,0.4); margin:0;}
  .nav-list li:nth-child(2),
  .nav-list li:nth-child(5),
  .nav-list li:nth-child(6){ display:none;}
  .nav-list li.cooperate > a{ display:none;}
  .nav-list li.cooperate{ border:none;}
  .nav-list li.cooperate .subnav{ position:static; display:block;}
  .nav-list li .subnav li a{ height:34px; line-height:34px; padding:5px 15px; text-align:left; border:none;}
  .nav-list li .subnav li.border,
  .nav-list li .subnav li.border a{ border-bottom:none;}
  .nav-list li > a{ display:block; min-width:80px; font-size:14px; padding:5px 15px;}
  .icon-hot2{ top:0px; right:5px;}
  .nav-login{ display:none; padding-top:18px;}
  .logged{ display:none; height:42px; padding:18px 0 0;}
  .iconlevel{ display:none;}
  
  /*首页--banner*/
  .banner-wrap,
  .banner-wrap .swiper-container,
  .banner-wrap .swiper-wrapper,
  .banner-list li{ height:300px;}
  .banner-img{ width:1255px; height:300px; margin-left:-627px;}
  .banner-img img{ height:300px;}
  #navi{ bottom:10px;}
  #navi a, #navi span{ width:8px; height:8px; margin:0 4px;}
  
  .with-img{ height:310px;}
  .with-word h2, .with-word2 h2, .with-word3 h2{ font-size:20px; padding:10px 0;}
  .with-word p{ font-size:14px;}
  
  /*一站式场景互动服务平台*/
  .funcs-list1 li .con{ min-width:130px; width:auto; margin:0 10px;}
  
  /*相关报道*/
  .news-list1 li{ padding:0 0 20px 224px;}
  .news-list1 li .pic{ width:207px; height:140px; line-height:140px; margin-left:-224px;}
  .news-list1 li .pic img{ max-width:90%; max-height:90%;}
  .news-list1 li .txt{ font-size:14px; line-height:24px; height:96px;}
  .news-list1 li h3{ font-size:16px; line-height:24px;}
  .news-list1 li .con{ padding:5px 0 0;}
  
  /*合作伙伴*/
  .logoes-list1 li{ margin-bottom:10px;}
  
  /*footer*/
  .menu2{ position:relative;}
  .menu2-list li{ width:33.33%; margin-bottom:15px;}
  .menu2-phone{ width:auto; padding:0; position:absolute; left:66%; bottom:59px;}
  .menu2-phone h3{ font-size:18px;}
  .menu2-phone p{ font-size:12px; line-height:30px; padding:0;}
  .logo-sun{ display:none;}
  a.btn-online,
  .tips-shang{ display:none;}
  .logo-sup{ margin-right:7px;}
  
  /*商城首页--套餐*/
  .nav-mall li{ width:auto;}
  .nav-mall li a{ white-space:nowrap;}
  .mall-meals li .con,
  .mall-meals2 li .con{ border-radius:0px; margin:0 10px;}
  .mall-meals li h4,
  .mall-meals2 li h4{ height:50px; line-height:50px; font-size:24px;}
  .mall-meals li .box{ padding:15px 15px 0;}
  .mall-meals li .price,
  .mall-meals2 li .price{ padding:10px 0 0;}
  .mall-meals li .btn-buy,
  .mall-meals2 li .btn-buy{ height:40px; line-height:40px; font-size:18px; margin:0 30px;}
  
  /*商城首页--应用*/
  .funcs-list3 li .name{ font-size:14px;}
  .funcs-list3 li .price{ font-size:14px;}
  
  /*商城首页--现场支持*/
  .live-con{ padding-left:43%; width:auto; height:auto; background-size:35% auto;}
  .live-con .text{ padding:0 0 20px; height:auto;}

}

@media screen and (max-width:715px){
  /*八大场景互动解决方案*/
  .funcs-scence{ height:auto;}
  .funcs-scence > ul > li{ height:auto; padding:0 0 40px;}
  .funcs-scence > ul > li .pic{ width:100%; height:auto; margin:0 0 15px;}
  .funcs-scence > ul > li .pic img{ width:100%; height:auto;}
  .funcs-scence > ul > li .title{ top:10px; bottom:10px; right:-7px;}
  .funcs-list2 li{ vertical-align:top; padding:0 10px;}
  .funcs-list2 li .name{  font-size:14px; line-height:24px;}
  .funcs-scence.swiper-container-horizontal>.swiper-pagination{ bottom:20px;}
  
  /*30+花样互动,主宰每个现场*/
  .live-map{ -webkit-transform:translate(-18%, 0) scale(0.5, 0.5); margin:-160px -44px -140px;}
  
  /*footer*/
  .footer{ height:auto;}
  .copyright{ display:none;}
  
  /*商城首页--套餐*/
  .mall-meals li .con{ border-radius:0px; margin:0 5px;}
  .mall-meals li .price,
  .mall-meals2 li .price{ font-size:20px;}
  .mall-meals li .price span,
  .mall-meals2 li .price span{ font-size:14px;}
  .mall-meals li .price-prev,
  .mall-meals2 li .price-prev{ font-size:14px;}
  
}

@media screen and (max-width:641px){
  .web-column .title1{ line-height:normal; padding:40px 0;}
  
  /*八大场景互动解决方案*/
  .funcs-list2 li{ width:40px; padding:0 2px; vertical-align:top;}
  .funcs-list2 li .aicon{ -webkit-transform:translateX(-15%) scale3d(0.7,0.7,0.7);}
  .funcs-list2 li .name{ margin:-10px -5px 0; padding:0 5px; font-size:12px; line-height:18px;}
  
  /*30+花样互动,主宰每个现场*/
  .live-map{ -webkit-transform:translate(-21%, 0) scale(0.4, 0.4); margin:-200px -44px -180px;}
  
  /*深度定制，想你所想*/
  .cases-list1 li .pics{ margin:0 5px; width:auto; height:auto;}
  .cases-list1 li .pics img{ width:100%; height:auto;}
  .cases-list1 li .title{ height:30px; line-height:30px; font-size:14px;}
  .cases-list1 li .swiper-pagination{ bottom:8px; left:5px;}
  
  /*案例展示*/
  .cases-list3 li a{ width:auto; margin:0 5px;}
  .cases-list3 li img{ width:100%; height:auto;}
  
  /*相关报道*/
  .news-list1 li h3{ height:24px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
  
  /*联系我们*/
  .locationbox p{ font-size:12px; line-height:20px;}
  
  /*商城首页--banner*/
  .banner-mall{ height:200px; background-size:auto 100%;}
  .banner-mall .btn-buy{ margin-left:-53px; top:155px;}
  
  
  /*商城首页--套餐*/
  .mall-meals{ padding-bottom:20px;}
  .mall-meals li,
  .mall-meals2 li{ width:100%; margin-bottom:10px;}
  .mall-meals li .con,
  .mall-meals2 li .con{ margin:0 20px;}
  .mall-meals .swiper-button-prev,
  .mall-meals2 > .swiper-button-prev{ display:block; width:10px; height:16px; background:url(../images/website/arrow5.png) left top no-repeat; opacity:1; visibility:inherit; left:0;}
  .mall-meals .swiper-button-next,
  .mall-meals2 > .swiper-button-next{ display:block; width:10px; height:16px; background:url(../images/website/arrow5.png) right top no-repeat; opacity:1; visibility:inherit; right:0;}
  .mall-meals2 li .swiper-button-prev,
  .mall-meals2 li .swiper-button-next{ display:none; visibility:hidden; opacity:0;}
  .mall-meals2 li .swiper-pagination{ width:auto; height:auto; left:auto; right:10px; top:50%; bottom:auto; margin-top:10px;}
  .mall-meals2 li .swiper-pagination span.swiper-pagination-bullet{ margin:5px 0;}
  .mall-meals2 li .swiper-pagination span.swiper-pagination-bullet-active{ background:#13c1ab;}
  
  /*商城首页--应用*/
  .funcs-list3 li{ width:33.33%;}
  .funcs-list3 li:nth-child(4n+1) a{ border-left:1px solid #ccc;}
  .funcs-list3 li:nth-child(3n+1) a{ border-left:none;}
  
}

@media screen and (max-width:590px){
  /*导航*/
  .logo{ width:120px;}
  .logged > a{ padding:0;}
	
  .web-column .title1{ font-size:22px;}
  
  /*一站式场景互动服务平台*/
  .funcs-list1 li{ width:50%;}
  .funcs-list1 li .con{ min-width:130px; width:auto; margin:0 10px;}
  
  /*30+花样互动,主宰每个现场*/
  .live-map{ -webkit-transform:translate(-24%, 0) scale(0.3, 0.3); margin:-200px -44px -180px;}
  
  /*会务推荐*/
  .cases-list2 .swiper-container, 
  .cases-list2 .swiper-slide{ padding:0 0 10px;}
  .cases-list2 .item1{ padding:15px 0 0;}
  .cases-list2 .item1 a{ margin:0 5px;}
  .cases-list2 .item1 span.title{ font-size:12px; line-height:18px; height:54px;}
  
  /*footer*/
  .sendus > p{ margin-bottom:10px;}
  .sendus > p input{ width:100%;}
  .sendus > p{ padding:0 10px;}
  .sendus > p input{ margin:0 -10px;}
  .sendus{ float:none; display:block; width:auto;}
  .senttxt2{ width:100%; margin:0 -10px;}
  
  /*footer*/
  .support-logo{ padding-top:14px;}
  .logobottom .logo{ width:100px; background-size:100% auto; background-position:left top;}
  .logo-sup{ height:20px; background-size:auto 20px; margin-right:2px;}
  .logo-g{ width:19px;}
  .logo-h{ width:17px; background-position:-22px 0;}
  .logo-s{ width:82px; background-position:-41px 0;}
  .logo-qq-yun{ width:47px; background-size:80px auto; background-position:right 0px;}
  
  /*商城首页--现场支持*/
  .column-top{ margin-bottom:25px;}
  .column-top h3{ font-size:20px; line-height:35px;}
  .column-top p{ font-size:12px; line-height:20px;}
  .live-tabs{ width:auto; height:32px; border:none; text-align:center; margin:-10px auto 15px;}
  .live-tabs li{ float:none; display:inline-block; width:auto; height:30px; line-height:30px; border-top:1px solid #32b16c; border-bottom:1px solid #32b16c; font-size:14px; padding:0 15px; margin:0 -2px;}
  .live-tabs li:first-child{ border-left:1px solid #32b16c;}
  .live-con{ width:auto; height:auto; padding-left:40%; background-size:auto 100%;}
  .live-con p{ font-size:12px; line-height:20px; padding-bottom:5px;}
  .live-con p.price,
  .live-con p.price2{ font-size:16px; padding:0 0 10px;}
  .live-con .btn-buy{ width:110px; height:30px; line-height:30px; font-size:14px;}
  
}

@media screen and (max-width:525px){
  /*商城首页--现场支持*/
  .live-con{ background-size:auto 82%;}
}

@media screen and (max-width:480px){
  /*首页--banner*/
  .banner-wrap,
  .banner-wrap .swiper-container,
  .banner-wrap .swiper-wrapper,
  .banner-list li{ height:145px;}
  .banner-img{ width:607px; height:145px; margin-left:-304px;}
  .banner-img img{ height:145px;}
  
  /*30+花样互动,主宰每个现场*/
  .live-map{ -webkit-transform:translate(-30%, 0) scale(0.3, 0.3); margin:-230px -44px -210px;}
  
  /*footer*/
  .menu2{ padding:20px 0;}
  .menu2-list li{ width:50%;}
  .menu2-list{ margin:0 15px; padding:0;}
  .menu2-list li h3{ font-size:16px; height:28px;}
  .menu2-list li p{ line-height:20px;}
  .menu2-phone{ width:150px; font-size:12px; left:50%; bottom:39px;}
  .menu2-phone h3{ font-size:20px;}
  .menu2-phone p{ line-height:20px; padding:0;}
  .footer{ position:relative;}
  .copyright{ float:none; display:none; text-indent:50px; line-height:25px; font-size:12px; position:absolute; right:0; bottom:0; margin-right:15px;}
  
  /*商城首页--应用*/
  .web-column .title1{ padding:25px 0 15px;}
  .funcs-list3 li{ width:50%;}
  .funcs-list3 li a{ padding:20px 0 0; height:160px;}
  .funcs-list3 li:nth-child(4n+1) a{ border-left:1px solid #ccc;}
  .funcs-list3 li:nth-child(3n+1) a{ border-left:1px solid #ccc;}
  .funcs-list3 li:nth-child(2n+1) a{ border-left:none;}
  .funcs-list3 li .name{ line-height:20px;}
  .funcs-list3 li .price{ line-height:20px; font-size:12px;}
  
}

@media screen and (max-width:414px){
  /*商城首页*/
  .live-con{ background-size:auto 70%;}
}


@media screen and (max-width:375px){
  /*30+花样互动,主宰每个现场*/
  .live-map{ -webkit-transform:translate(-33.5%, 0) scale(0.3, 0.3); margin:-230px -44px -210px;}
  
  /*相关报道*/
  .news-list1 li{ padding-left:140px;}
  .news-list1 li .pic{ width:123px; height:; margin-left:-140px;}

}

@media screen and (max-width:335px){
  /*八大场景互动解决方案*/
  .funcs-list2{ width:auto; margin:0 -10px;}
  .funcs-list2 li{ width:40px; padding:0; margin:0 -1px; vertical-align:top;}
  .funcs-list2 li .aicon{ -webkit-transform:translateX(-15%) scale3d(0.7,0.7,0.7);}
  .funcs-list2 li .name{ margin:-10px -5px 0; padding:0 5px; font-size:12px; line-height:18px;}
}

@media screen and (max-width:320px){
  /*商城首页*/
  .live-con{ padding-left:42%; background-size:auto 78%; background-position:-30px bottom;}
}