<extend name="public_part/public_part" />

<block name="right">
<!--右边内容-->
<div class="panel panel-default">
    <div class="panel-body">
        <div id="box">
            <p style="color:Red">微信扫一扫支付(￥{$total_money})</p>
            <img src="__PUBLIC__/Home/images/payment_erweima.png" width="150" onerror="">
            <div class="panel panel-default" style="margin:20px;">
                <div class="panel-body" style="text-align: center;">
                    <a class="btn btn-warning" href="" onclick="return confirm('您已经微信支付成功？');return false;">我已支付成功</a>
                </div>
            </div>
        </div>
    </div>
</div>
</block>