<extend name="./public_part/public_part"/>
<block name="right">
    <div class="col-xs-12 col-sm-9 col-lg-10 sys_menu_box">
        <!--slider css--->
        <link rel="stylesheet" href="../addons/meepo_xianchang/template/resource/css/boostrap.slider.css">
        <style>
            .slider.slider-horizontal {
                height:40px;
                width:100%;
            }
            .slider.slider-horizontal .slider-handle {
                margin-left: -10px;
                margin-top: 10px;
            }
            #Slider .slider-handle {
                background: #36b27a;
                border-radius:50%;
            }
            #Slider .slider-selection {
                background: #36b27a;
            }
            .add-jian input{height:40px;text-align:center}
            .quantity-remove, .quantity-add {
                cursor: pointer;
            }
            .quantity-add.glyphicon, .quantity-remove.glyphicon {
                display: block;
                cursor: pointer;
            }
            .slider_box{
                padding:20px;margin-bottom:0px;display:none
            }
            .update_important{
                position:absolute;
                top:0;
                right:80px;
                color:gray;
                cursor:pointer;
                z-index:10
            }
            .update_important.active{
                color:#22B766
            }
            .update_important.active:hover{
                color:gray
            }
            .update_important:hover{
                color:#22B766
            }
        </style>
        <!--slider end--->
        <div class="bd_nav_list">
            <div class="btn-group">
                <a class="btn btn-default" href="./index.php?c=site&amp;a=entry&amp;do=list&amp;m=meepo_xianchang"><i class="fa fa-mail-reply"></i> 返回我的活动</a>
            </div>
        </div>
        <div class="panel panel-default" style="border-right:0;border-left:0">
            <ul class="nav nav-tabs" style="margin-bottom:0;margin-top:20px;">
                <li class="active">
                    <a href="{:U('ExitActivity')}?id={$data['activity_id']}">基础设置</a>
                </li>
                <li>
                    <a href="{:U('activityfunc')}?id={$data['activity_id']}">活动功能</a>
                </li>
            </ul>
        </div>
        <form method="post" class="form-horizontal list_form" action="{:U('ExitActivity')}" enctype="multipart/form-data" id="form1" onsubmit="return check_edit();">
            <input type="hidden" value="33" class="form-control" name="id">
            <input type="hidden" value="353" class="form-control" name="uid" id="list_uid">
            <div class="panel panel-default">
                <div class="panel-heading">基础设置</div>
                <div class="panel-body">
                    <div class="tab-pane  active" id="tab_step1">
                        <div class="panel panel-default">
                            <div class="panel-heading"></div>
                            <div class="panel-body">

                                <div class="form-group" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span><span class="label label-danger">所属用户</span></label>
                                    <div class="col-sm-9">
                                        <div class="col-sm-9">
                                            <div class="label label-success" id="pick_manage_user" style="margin:10px;padding:10px;"><i class="fa fa-external-link"></i> 点击选择用户</div>
                                            当前所属用户: <span class="label label-danger had_select_user">LZ123456</span>
                                        </div>
                                        <!--<select name="uid" class='form-control'>
                                             <option   value="0"  >请选择本活动所属用户</option>
                                                                     </select>-->

                                    </div>
                                </div>
                                <div class="form-group" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span><span class="label label-danger">支付状态</span></label>
                                    <div class="col-sm-9">
                                        <label class="radio-inline">
                                            <input type="radio" name="is_pay" value="1" id="is_pay">支付成功
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="is_pay" value="2" checked="true" id="is_pay">支付未完成
                                        </label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span><span class="label label-danger">是否特别关心</span></label>
                                    <div class="col-sm-9">
                                        <label class="radio-inline">
                                            <input type="radio" name="is_important" value="1" id="is_important">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="is_important" value="0" checked="true" id="is_important">否
                                        </label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动主题</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="{$data['activity_theme']}" name="activity_theme" class="form-control" name="title" id="title">
                                        <span class="help-block">活动主题</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">场控密码</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="{$data['activity_pwd']}" name="activity_pwd" class="form-control" name="pass_word">
                                        <span class="help-block">活动场控密码</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">是否必须关注</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="gz_must" value="1" {$data["activity_whether_follow"]==1? "checked" : " "} id="open_gz"> 是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gz_must" value="0" {$data["activity_whether_follow"]==1? " " : "checked"} id="close_gz">否
                                        </label>
                                        <span class="help-block">认证服务号有效</span>
                                    </div>
                                </div>
                                <div class="form-group open_gz" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">引导关注素材</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="" class="form-control" name="gz_url">
                                        <span class="help-block">认证服务号引导关注素材链接</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">开启地区限制</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="open_gps" {$data["activity_open_area"]==1? "checked" : ""}  value="1" id="open_gps">开启
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="open_gps" value="0" {$data["activity_open_area"]==1? " " : "checked"} id="close_gps">关闭
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group open_gps" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">开启地区调试模式</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="open_gps_tiaoshi" value="1" {$data["activity_open_debug"]==1? "checked" : ""} id="open_gps">开启
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="open_gps_tiaoshi" value="0" {$data["activity_open_debug"]==1? "" : "checked"}  id="close_gps">关闭
                                        </label>
                                        <span class="help-block">活动开始后、请关闭调试模式</span>
                                    </div>
                                </div>
                                <div class="form-group open_gps" style="display:none">
                                    <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label">限制地区页面背景</label>-->
                                    <div class="col-sm-9">

                                        <script type="text/javascript">
                                            function showImageDialog(elm, opts, options){
                                                require(["util"], function(util){
                                                    var btn = $(elm);
                                                    var ipt = btn.parent().prev();
                                                    var val = ipt.val();
                                                    var img = ipt.parent().next().children();
                                                    options = {'global':false,'class_extra':'','direct':true,'multiple':false,'fileSizeLimit':5120000};
                                                    util.image(val, function(url){
                                                        if(url.url){
                                                            if(img.length > 0){
                                                                img.get(0).src = url.url;
                                                            }
                                                            ipt.val(url.attachment);
                                                            ipt.attr("filename",url.filename);
                                                            ipt.attr("url",url.url);
                                                        }
                                                        if(url.media_id){
                                                            if(img.length > 0){
                                                                img.get(0).src = "";
                                                            }
                                                            ipt.val(url.media_id);
                                                        }
                                                    }, options);
                                                });
                                            }
                                            function deleteImage(elm){
                                                require(["jquery"], function($){
                                                    $(elm).prev().attr("src", "__PUBLIC__/home/images/nopic.jpg");
                                                    $(elm).parent().prev().find("input").val("");
                                                });
                                            }
                                        </script>
                                        <!-- <div class="input-group ">
                                             <input type="text" name="gps_bg" value="" class="form-control" autocomplete="off">
             <span class="input-group-btn">
                 <button class="btn btn-default" type="button" onclick="showImageDialog(this);">选择图片</button>
             </span>
                                         </div>
                                   <!--  <div class="input-group " style="margin-top:.5em;">
                                             <img src="__PUBLIC__/home/images/nopic.jpg" onerror="" class="img-responsive img-thumbnail" width="150">
                                             <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage(this)">×</em>
                                         </div>						<span class="help-block">限制地区页面背景 规格 640px*1000px 注:此图必须认真做、可以作为广告图</span>-->
                                    </div>
                                </div>
                                <div class="form-group open_gps" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">限制地区</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="{$data['activity_limit_area']}" class="form-control" name="must_location">
                                        <span class="help-block">限制地区、多个请以英文逗号隔开</span>
                                    </div>
                                </div>
                                <div class="form-group open_gps" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">验证有效时间</label>
                                    <div class="col-sm-9 ">
                                        <div class="input-group">
                                            <input type="text" name="success_time" class="form-control" value="{$data['activity_valid_time']}">
                                            <span class="input-group-addon">分钟</span>
                                        </div>
                                        <span class="help-block">用户验证成功后、存活有效时间 只可以为整数</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">用户是否需要审核</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="1" {$data["activity_user_audit"]==1? "checked" : ""}> 无需审核
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="2" {$data["activity_user_audit"]==1? "" : "checked"}>必须审核
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">准许用户分享</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="is_share" value="1" {$data["activity_user_share"]==1? "" : "checked"}>可以分享
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="is_share" value="0" {$data["activity_user_share"]==1? "" : "checked"}>禁止分享
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2  control-label"></label>
                                <div class="col-sm-9 ">
                                    <input type="submit"  id="tijiao" value="保存" class="btn btn-success">
                                    <input type="hidden" name="token" value="7ea42ec0">
                                </div>
                            </div>
                        </div>
                    </div><!--basic end-->

                    <script type="text/javascript">
                        require(['../../../../addons/meepo_xianchang/template/resource/js/activity_user', 'bootstrap'], function(sys_manage){
                            $(function(){
                                $('#pick_manage_user').click(function(){
                                    sys_manage.user.browser(function(us){

                                    },{mode:'invisible',direct:'1'});
                                });
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        var requireExtend = require.config({
                            baseUrl: 'resource/js/app', //基础目录，将从此目录引用JS
                            paths: {
                                'bootstrap-slider': '../../../../addons/meepo_xianchang/template/resource/js/bootstrap-slider.min', //结尾不写.js
                            }
                        });
                        var one_price = 0.50;
                        var min_persons = 20;
                        var max_persons = 100000;
                        var free_persons = 50;

                        requireExtend(["bootstrap-slider"],function(){
                            var mySlider = $('#slider2').slider({
                                step: 1,
                                min: min_persons,
                                max: max_persons,
                                value:"5948",
                                handle: 'square',
                                tooltip: 'always',
                                formatter: function(value) {
                                    //$("#true_persons").val(value);
                                    $(".persons_num").text(value+"人");
                                    var money = (value - free_persons )*one_price;
                                    $("#can_join").val(value);
                                    $("#persons_li").attr("data-price",(money<0?0:money.toFixed(2)));
                                    $(".persons_money").text((money<0?0:money.toFixed(2))+"元");
                                    var all_modules = $('#moduleList li.module_on');
                                    var allPrice = (money<0?0:money);
                                    for(var i=0;i<all_modules.length;i++){
                                        allPrice += parseFloat($(all_modules[i]).data('price'));
                                    }
                                    var zz_modules = $('#zzList li.module_on');
                                    if(zz_modules.length>0){
                                        for(var i=0;i<zz_modules.length;i++){
                                            allPrice += parseFloat($(zz_modules[i]).data('price'));
                                        }
                                    }
                                    $('#num').html(($('#moduleList li.module_on').length+1));
                                    $("#total_money").val(allPrice.toFixed(2));
                                    $('#allPrice').html('￥' + allPrice.toFixed(2));
                                    return value+"人";
                                }
                            });
                            $(".quantity-add").click(function(e){
                                var newcount = parseInt($("#true_persons").val()) + 1;
                                if(newcount<=min_persons){
                                    newcount = min_persons;
                                }
                                if(newcount>=max_persons){
                                    newcount = max_persons;
                                }
                                mySlider.slider('setValue', newcount);
                                $("#true_persons").val(newcount);
                                $("#can_join").val(newcount);
                                var money = newcount*one_price;
                                $("#persons_li").attr("data-price",money.toFixed(2));
                                $(".persons_money").text(money.toFixed(2)+"元");
                                $(".persons_num").text(newcount+"人");
                                var all_modules = $('#moduleList li.module_on');
                                var allPrice = money;
                                for(var i=0;i<all_modules.length;i++){
                                    allPrice += parseFloat($(all_modules[i]).data('price'));
                                }
                                var zz_modules = $('#zzList li.module_on');
                                if(zz_modules.length>0){
                                    for(var i=0;i<zz_modules.length;i++){
                                        allPrice += parseFloat($(zz_modules[i]).data('price'));
                                    }
                                }
                                $('#num').html(($('#moduleList li.module_on').length+1));
                                $("#total_money").val(allPrice.toFixed(2));
                                $('#allPrice').html('￥' + allPrice.toFixed(2));

                            });
                            $(".quantity-jian").click(function(e){
                                var newcount = parseInt($("#true_persons").val()) - 1;
                                if(newcount<=min_persons){
                                    newcount = min_persons;
                                }
                                if(newcount>=max_persons){
                                    newcount = max_persons;
                                }
                                mySlider.slider('setValue', newcount);
                                $("#can_join").val(newcount);
                                $("#true_persons").val(newcount);
                                $(".persons_num").text(newcount+"人");
                                var all_modules = $('#moduleList li.module_on');
                                var money = newcount*one_price;
                                $(".persons_money").text(money.toFixed(2)+"元");
                                $("#persons_li").attr("data-price",money.toFixed(2));
                                var allPrice = money;
                                for(var i=0;i<all_modules.length;i++){
                                    allPrice += parseFloat($(all_modules[i]).data('price'));
                                }
                                var zz_modules = $('#zzList li.module_on');
                                if(zz_modules.length>0){
                                    for(var i=0;i<zz_modules.length;i++){
                                        allPrice += parseFloat($(zz_modules[i]).data('price'));
                                    }
                                }
                                $('#num').html(($('#moduleList li.module_on').length+1));
                                $("#total_money").val(allPrice.toFixed(2));
                                $('#allPrice').html('￥' + allPrice.toFixed(2));
                            });
                            $('#true_persons').bind('input propertychange', function() {
                                var newcount = parseInt($("#true_persons").val());
                                if(newcount<=min_persons){
                                    newcount = min_persons;
                                }
                                if(newcount>=max_persons){
                                    newcount = max_persons;
                                }
                                var money = newcount*one_price;
                                $("#persons_li").attr("data-price",money.toFixed(2));
                                $(".persons_money").text(money.toFixed(2)+"元");
                                mySlider.slider('setValue',newcount);
                                $("#can_join").val(newcount);
                                $(".persons_num").text(newcount+"人");
                                var all_modules = $('#moduleList li.module_on');
                                var allPrice = money;
                                for(var i=0;i<all_modules.length;i++){
                                    allPrice += parseFloat($(all_modules[i]).data('price'));
                                }
                                var zz_modules = $('#zzList li.module_on');
                                if(zz_modules.length>0){
                                    for(var i=0;i<zz_modules.length;i++){
                                        allPrice += parseFloat($(zz_modules[i]).data('price'));
                                    }
                                }
                                $('#num').html(($('#moduleList li.module_on').length+1));
                                $("#total_money").val(allPrice.toFixed(2));
                                $('#allPrice').html('￥' + allPrice.toFixed(2));
                            });
                        });
                    </script>
                    <script>
                        $(function(){

                            $('html,body').animate({scrollTop: '0px'}, 80);
                            $("#open_gz").on('click',function(){
                                $(".open_gz").show();
                            });
                            $("#close_gz").on('click',function(){
                                $(".open_gz").hide();
                            });
                            $("#open_gps").on('click',function(){
                                $(".open_gps").show();
                            });
                            $("#close_gps").on('click',function(){
                                $(".open_gps").hide();
                            });
                            $('#zzList li').click(function(){
                                var $this = $(this);
                                if($this.hasClass('module_on')){
                                    $('.had_selected_zzcontrol').find('.'+$this.attr('data-zzcontrol')).remove();
                                    $this.removeClass('module_on').find('.module_checked').remove();
                                }else{
                                    //if($('.had_selected_zzcontrol').find('.'+$this.attr('data-zzcontrol')).length==0){
                                    $('.had_selected_zzcontrol').append('<input type="hidden" name="zz_controls[]" class="'+$this.attr('data-zzcontrol')+'" value="'+$this.attr('data-zzcontrol')+'">');
                                    //}
                                    $this.addClass('module_on').append('<i class="fa fa-check-circle module_checked"></i>');
                                }
                                var num = $('#moduleList li.module_on').length;
                                num = num + $('#personsList li.module_on').length;
                                var all_modules = $('#moduleList li.module_on');
                                var allPrice = 0.00;
                                for(var i=0;i<all_modules.length;i++){
                                    allPrice += parseFloat($(all_modules[i]).data('price'));
                                }
                                var zz_modules = $('#zzList li.module_on');
                                if(zz_modules.length>0){
                                    for(var i=0;i<zz_modules.length;i++){
                                        allPrice += parseFloat($(zz_modules[i]).data('price'));
                                    }
                                }
                                if($('#personsList li.module_on').length>0){
                                    allPrice = allPrice + parseFloat($("#persons_li").attr("data-price"));
                                }
                                $('#num').html(num);
                                $("#total_money").val(allPrice.toFixed(2));
                                $('#allPrice').html('￥' + allPrice.toFixed(2));
                            });
                            $('#moduleList li').click(function(){
                                var $this = $(this);
                                if($this.hasClass('module_on')){
                                    $('.had_selected_control').find('.'+$this.attr('data-control')).remove();
                                    $this.removeClass('module_on').find('.module_checked').remove();
                                }else{
                                    if($('.had_selected_control').find('.'+$this.attr('data-control')).length<=0){
                                        $('.had_selected_control').append('<input type="hidden" name="controls[]" class="'+$this.attr('data-control')+'" value="'+$this.attr('data-control')+'">');
                                    }
                                    $this.addClass('module_on').append('<i class="fa fa-check-circle module_checked"></i>');
                                }
                                var num = $('#moduleList li.module_on').length;
                                num = num + $('#personsList li.module_on').length;
                                var all_modules = $('#moduleList li.module_on');
                                var allPrice = 0.00;
                                for(var i=0;i<all_modules.length;i++){
                                    allPrice += parseFloat($(all_modules[i]).data('price'));
                                }
                                if($('#personsList li.module_on').length>0){
                                    allPrice = allPrice + parseFloat($("#persons_li").attr("data-price"));
                                }
                                var zz_modules = $('#zzList li.module_on');
                                if(zz_modules.length>0){
                                    for(var i=0;i<zz_modules.length;i++){
                                        allPrice += parseFloat($(zz_modules[i]).data('price'));
                                    }
                                }
                                $('#num').html(num);
                                $("#total_money").val(allPrice.toFixed(2));
                                $('#allPrice').html('￥' + allPrice.toFixed(2));
                            });
                        });
                        function check_edit(){
                            return true;
                        }
                        function check_gn(){
                            var all_modules = $('#moduleList li.module_on');
                            var check_modules = all_modules.length;
                            if(check_modules<=0){
                                util.message('请选择活动功能.', '', 'error');
                                return false;
                            }
                            if($('#personsList li.module_on').length<=0){
                                util.message('请选择活动参与人数.', '', 'error');
                                return false;
                            }
                            return true;
                        }
                    </script>
                </div>
            </div></form>
    </div>
</block>