<extend name="./public/indexLayout" /><!--绝对路径 是从View下开始的-->
<block name="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>京西(JC.COM)-正品低价、品质保障、配送及时、轻松购物！</title>
    <meta name="description" content="京东JD.COM-专业的综合网上购物商城,销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等数万个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!" />
    <meta name="Keywords" content="网上购物,网上商城,手机,笔记本,电脑,MP3,CD,VCD,DV,相机,数码,配件,手表,存储卡,京东" />
    <!-- Favicon图标 -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS 全局使用 -->
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/shop.style.css">

    <!-- CSS 执行插件 -->
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/scrollbar/src/perfect-scrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/revolution-slider/rs-plugin/css/settings.css">

    <!-- Style Switcher 样式切换 -->
    <link rel="stylesheet" href="__PUBLIC__/assets/css/plugins/style-switcher.css">

    <!-- CSS 主题样式文件 -->
    <link rel="stylesheet" href="__PUBLIC__/assets/css/theme-colors/default.css" id="style_color">

    <!-- CSS 自定义样式文件 -->
    <link rel="stylesheet" href="__PUBLIC__/assets/css/custom.css">
    </block>
<block name="centre">

    <!-- Slider -->
    <!-- 使用了jQuery幻灯片插件插件Slider Revolution -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img src="__PUBLIC__/assets/img/1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="100"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"                        
                        data-endspeed="300">
                        新品 <br>
                        <strong>上市</strong><br>
                        推荐
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="380"
                        data-speed="1600"
                        data-start="1800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                    </div>
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                    <!-- MAIN IMAGE -->
                    <img src="__PUBLIC__/assets/img/5.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch3 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="140"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"
                        data-endspeed="300">
                        Latest <strong>Fashion</strong> Trends
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch4 sft"
                        data-x="center"
                        data-hoffset="-14"
                        data-y="210"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        Cras non dui et quam auctor pretium.<br>
                        Aenean enim tortr, tempus et iteus m
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="300"
                        data-speed="1600"
                        data-start="1800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                    </div>
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                    <!-- MAIN IMAGE -->
                    <img src="__PUBLIC__/assets/img/3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="right top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch3 sft start"
                        data-x="right"
                        data-hoffset="5"
                        data-y="130"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"
                        data-endspeed="300">
                        <strong>Luxury</strong> Watches
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch4 sft"
                        data-x="right"
                        data-hoffset="0"
                        data-y="210"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        lectus. Cras non dui et quam auctor.<br>
                        Aenean enim tortor, tempus et im
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="right"
                        data-hoffset="0"
                        data-y="300"
                        data-speed="1600"
                        data-start="2800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                    </div>
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 4">
                    <!-- MAIN IMAGE -->
                    <img src="__PUBLIC__/assets/img/2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="100"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"
                        data-endspeed="300">
                        Girl's Accesories
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="280"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        Super Promo
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="370"
                        data-speed="1600"
                        data-start="2800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                    </div>
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 5">
                    <!-- MAIN IMAGE -->
                    <img src="__PUBLIC__/assets/img/4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="right top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch5 sft start"
                        data-x="right"
                        data-hoffset="5"
                        data-y="130"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"
                        data-endspeed="300">
                        <strong>Jeans</strong> Collection
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch4 sft"
                        data-x="right"
                        data-hoffset="-14"
                        data-y="210"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        Cras non dui et quam auctor pretium.<br>
                        Aenean enim tortr, tempus et iteus m
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="right"
                        data-hoffset="0"
                        data-y="300"
                        data-speed="1600"
                        data-start="2800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                    </div>
                </li>
                <!-- END SLIDE -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>            
        </div>
    </div>
    <!-- End Slider -->

    <!-- Product Content -->
    <div class="container content-md">
        <!-- Illustration v1 -->
        <div class="row margin-bottom-60">
            <div class="col-md-6 md-margin-bottom-30">
                <div class="overflow-h">
                    <div class="illustration-v1 illustration-img1">
                        <div class="illustration-bg">
                            <div class="illustration-ads ad-details-v1">
                                <h3><strong>欢 迎 光 临 ！</strong></h3>
                            </div>    
                        </div>    
                    </div>
                </div>    
            </div>
            <div class="col-md-6 md-margin-bottom-30">
                <div class="overflow-h">
                    <div class="illustration-v1 illustration-img2">
                        <div class="illustration-bg">
                            <div class="illustration-ads ad-details-v1">
                                <h3><strong>祝 您 购 物 愉 快 !</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/end row-->
        <!-- End Illustration v1 -->

        <div class="heading heading-v1 margin-bottom-20">
            <h2>特色产品</h2>
            <p>特色产品臻品行货,精选品牌等你来!满再减+闪电送!购爽,购嗨!京东网购,211送达,售后100分,全国联保!上海特产礼品,上天猫超市,用心甄选高品质产品,还有更多折扣等你来,放心吃,省心买.上天猫超市,品质护航,一站购齐!</p>
        </div>

        <!-- Illustration v2 -->
        <div class="illustration-v2 margin-bottom-60">
            <div class="customNavigation margin-bottom-25">
                <a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
                <a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
            </div>

            <ul class="list-inline owl-slider">











        <foreach name="newinfo" item="vo">
               <li class="item">
                   <a href="{:U('Kindex/goods_detail')}?id={$vo['id']}">
                    <div class="product-img">
                      <img class="full-width img-responsive" src="__PUBLIC__/assets/upload/{$vo['pic']}" alt="">
                    </div>
                    <div class="product-description product-description-brd">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price">{:substr($vo['goodsname'],0,50)}</h4>
                                <span class="gender text-uppercase">{$vo['attribute']==0?"女装":"男装"}</span>
                                <span class="gender">休闲 - 美妆</span>
                            </div>    
                            <div class="product-price">
                                <span class="title-price">￥{$vo['price']}</span>
                                <span class="title-price line-through">￥{$vo['marketprice']}</span>
                            </div>
                        </div>    
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                        </ul>

                    </div>
                   </a>
                </li>


        </foreach>

            </ul>
        </div> 
        <!-- End Illustration v2 -->

        <!-- Illustration v3 -->
        <div class="row margin-bottom-50">
            <div class="col-md-4 md-margin-bottom-30">
                <div class="overflow-h">
                    <a class="illustration-v3 illustration-img1">
                        <span class="illustration-bg">
                            <span class="illustration-ads">
                                <span class="illustration-v3-category">
                                    <span class="product-category">男士专区</span>
                                    <span class="product-amount">56 Items</span>
                                </span>    
                            </span>    
                        </span>    
                    </a>
                </div>    
            </div>
            <div class="col-md-4 md-margin-bottom-30">
                <div class="overflow-h">
                    <a class="illustration-v3 illustration-img2" >
                        <span class="illustration-bg">
                            <span class="illustration-ads">
                                <span class="illustration-v3-category">
                                    <span class="product-category">女士专区</span>
                                    <span class="product-amount">56 Items</span>
                                </span>    
                            </span>    
                        </span>    
                    </a>
                </div>    
            </div>
            <div class="col-md-4">
                <div class="overflow-h">
                    <a class="illustration-v3 illustration-img3" >
                        <span class="illustration-bg">
                            <span class="illustration-ads">
                                <span class="illustration-v3-category">
                                    <span class="product-category">儿童专区</span>
                                    <span class="product-amount">56 Items</span>
                                </span>    
                            </span>    
                        </span>    
                    </a>
                </div>    
            </div>
        </div>
        <!-- End Illustration v3 -->

        <div class="heading heading-v1 margin-bottom-40">
            <h2>Latest products</h2>
        </div>

        <!-- Illustration v2 -->
        <div class="row illustration-v2">




            <foreach name="numinfo" item="vivo">
            <div class="col-md-3 col-sm-6 md-margin-bottom-30">
                <div class="product-img">
                    <a href="{:U('Kindex/goods_detail')}?id={$vivo['id']}"><img class="full-width img-responsive" src="__PUBLIC__/assets/upload/{$vivo['pic']}" alt=""></a>
                    <a class="product-review" href="{:U('Kindex/goods_detail')}?id={$vivo['id']}">Quick review</a>
                    <a class="add-to-cart" href="{:U('Windex/cartlst')}?id={$vivo[id]}"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                    <div class="shop-rgba-dark-green rgba-banner">New</div>
                </div> 
                <div class="product-description product-description-brd">
                    <div class="overflow-h margin-bottom-5">
                        <div class="pull-left">
                            <h4 class="title-price"><a href="{:U('Kindex/goods_detail')}?id={$vivo['id']}">{:substr($vivo['goodsname'],0,40)}</a></h4>

                            <span class="gender text-uppercase">{$vo['attribute']==0?"女性":"男性"}</span>
                            <span class="gender">休闲 - 美妆</span>
                        </div>    
                        <div class="product-price">
                            <span class="title-price">￥{$vivo['price']}</span>
                        </div>
                    </div>    
                    <ul class="list-inline product-ratings">
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips"><i class="fa fa-heart"></i></a></li>
                    </ul>    
                </div>
            </div>

            </foreach>
        </div> 
        <!-- End Illustration v2 -->
    </div>
    <!-- End Product Content -->

    <!-- 推文模块 -->
    <div class="parallaxBg twitter-block margin-bottom-60">
        <div class="container">
            <div class="heading heading-v1 margin-bottom-20">
                <h2>最新推文</h2>
            </div>

            <div id="carousel-example-generic-v5" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li class="active rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="0"></li>
                    <li class="rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="1"></li>
                    <li class="rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <p>统一已经达到10000加销售，我们只想感谢您对我们所有的客户进行统一模板成功的一部分<p>
                        <p><a href="https://twitter.com/htmlstream">@htmlstream</a></p>
                        <ul class="list-inline twitter-icons">
                            <li><a href="#"><i class="fa fa-reply"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <p>大多数人以某种形式，注入幽默，或者看起来甚至不太可信的随机词都遭受了偏差。 如果你要使用Lorem Ipsum的通道</p>
                        <p><a href="https://twitter.com/htmlstream">@twbootstrap</a></p>
                        <ul class="list-inline twitter-icons">
                            <li><a href="#"><i class="fa fa-reply"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <p>新100％免费库存照片。每一个。 单。 天。 您的创意项目所需的一切。</p>
                        <p><a href="https://twitter.com/htmlstream">@wrapbootstrap</a></p>
                        <ul class="list-inline twitter-icons">
                            <li><a href="#"><i class="fa fa-reply"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#carousel-example-generic-v5" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic-v5" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>                        
        </div>    
    </div>
    <!-- End 推文模块 -->

    <!--产品服务和排行榜-->
    <div class="container">
        <!-- 产品服务模块 -->
        <div class="row margin-bottom-60">
            <div class="col-md-4 product-service md-margin-bottom-30">
                <div class="product-service-heading">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="product-service-in">
                    <h3>物流配送</h3>
                    <p>211限时达、大家电211限时达、次日达、夜间配、大家电夜间配、定时达、极速达、隔日达、京准达具体信息还请点...</p>
                    <a href="#">+更多</a>
                </div>
            </div>
            <div class="col-md-4 product-service md-margin-bottom-30">
                <div class="product-service-heading">
                    <i class="icon-earphones-alt"></i>
                </div>
                <div class="product-service-in">
                    <h3>电话客服</h3>
                    <p>211限时达、大家电211限时达、次日达、夜间配、大家电夜间配、定时达、极速达、隔日达、京准达具体信息还请点...</p>
                    <a href="#">+更多</a>
                </div>
            </div>
            <div class="col-md-4 product-service">
                <div class="product-service-heading">
                    <i class="icon-refresh"></i>
                </div>
                <div class="product-service-in">
                    <h3>退货流程</h3>
                    <p>211限时达、大家电211限时达、次日达、夜间配、大家电夜间配、定时达、极速达、隔日达、京准达具体信息还请点...</p>
                    <a href="#">+更多</a>
                </div>
            </div>
        </div><!--/end row-->
        <!-- End 产品服务模块 -->

    </div><!--/end cotnainer-->
    <!--End 产品服务和排行榜-->

    <!-- 收藏模块横幅 -->
    <div class="collection-banner">
        <div class="container">
            <div class="col-md-7 md-margin-bottom-50">
                <h2>Makeup collection</h2>
                <p>Duis in posuere risus. Vivamus sed dignissim tellus. In vehicula justo tempor commodo. <br> Nunc lobortis dapibus neque quis lacinia</p><br>
                <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
            </div>
            <div class="col-md-5">
                <div class="overflow-h">
                    <span class="percent-numb">50</span>
                    <div class="percent-off">
                        <span class="discount-percent">%</span>
                        <span class="discount-off">off</span>
                    </div>
                    <div class="new-offers shop-bg-green rounded-x">
                        <p>new</p>
                        <span>Products</span>
                    </div>    
                </div>    
            </div>
        </div>
    </div>
    <!-- End 收藏模块横幅 -->

    <!-- 赞助商模块 -->
    <div class="container content">
        <div class="heading heading-v1 margin-bottom-40">
            <h2>赞助商</h2>
            <p>赞助商 赞助商 赞助商 赞助商 赞助商 赞助商 赞助商 赞助商 赞助商 赞助商 赞助商 赞助商 赞助商 赞助商   </p>
        </div>

        <!--品牌logo-->
        <ul class="list-inline owl-slider-v2">
            <li class="item first-child">
                <img src="__PUBLIC__/assets/img/clients/07.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/08.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/10.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/11.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/09.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/12.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/07.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/08.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/09.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/10.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/11.png" alt="">
            </li>
            <li class="item">
                <img src="__PUBLIC__/assets/img/clients/12.png" alt="">
            </li>
        </ul><!--/end owl-carousel-->
    </div>
    <!-- End 赞助商模块 -->





    </block>



        <block name="js">
            <script src="__PUBLIC__/assets/plugins/jquery/jquery.min.js"></script>
            <!--jquery-migrate应用迁移辅助插件，就是一个过渡插件 让你在原来代码上升级jquery 不用修改代码用的-->
            <script src="__PUBLIC__/assets/plugins/jquery/jquery-migrate.min.js"></script>
            <script src="__PUBLIC__/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <!-- JS 执行插件 -->
            <!--返回顶部-->
            <script src="__PUBLIC__/assets/plugins/back-to-top.js"></script>
            <!-- owl-carousel 支持触屏的幻灯片插件 -->
            <script src="__PUBLIC__/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
            <!-- mousewheel jQuery鼠标滚轮滚动侦测插件 -->
            <script src="__PUBLIC__/assets/plugins/scrollbar/src/jquery.mousewheel.js"></script>
            <!-- JQuery 滚动条插件perfect-scrollbar -->
            <script src="__PUBLIC__/assets/plugins/scrollbar/src/perfect-scrollbar.js"></script>
            <!--轻量级的的视差引擎Parallax -->
            <script src="__PUBLIC__/assets/plugins/jquery.parallax.js"></script>
            <!--Slider Revolution jquery内容切换（幻灯片）插件-->
            <script src="__PUBLIC__/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
            <script src="__PUBLIC__/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
            <!-- JS 自定义代码 -->
            <script src="__PUBLIC__/assets/js/custom.js"></script>
            <!-- JS 页面级别 -->
            <script src="__PUBLIC__/assets/js/shop.app.js"></script>
            <!-- owl-carousel 支持触屏的幻灯片插件 -->
            <script src="__PUBLIC__/assets/js/plugins/owl-carousel.js"></script>
            <script src="__PUBLIC__/assets/js/plugins/revolution-slider.js"></script>
            <!--style-switcher基于jquery切换网页风格-->
            <script type="text/javascript" src="__PUBLIC__/assets/js/plugins/style-switcher.js"></script>
            <script>
                jQuery(document).ready(function() {
                    App.init();
                    App.initParallaxBg();
                    OwlCarousel.initOwlCarousel();
                    RevolutionSlider.initRSfullWidth();
                    StyleSwitcher.initStyleSwitcher();
                });
            </script>
        </block>



