<extend name="./public_part/public_part"/>
<block name="right">
    <div class="col-xs-12 col-sm-9 col-lg-10 sys_menu_box">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="">基本信息</a>
            </li>
            <li>
                <a href="{:U('member_pwd')}">安全中心</a>
            </li>
        </ul>
        <form action="" method="post" class="form-horizontal" id="form" enctype="multipart/form-data">
        <div class="panel panel-default">
                <div class="panel-heading">基本信息</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">用户昵称</label>
                        <div class="col-sm-10 col-xs-12">
                            <input id="username" name="username" type="text" class="form-control" value="LZ123456" readonly="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户头像</label>
                        <div class="col-sm-9">
                            <div class="input-group member_pic"  style="margin-top:.5em;">
                                <img src="http://of3kdd1ar.bkt.clouddn.com/images/52/2018/01/T2vY9IEAOsod1O221oIrVIY1i5Kyvh.jpg" id="member_header" class="img-responsive img-thumbnail" width="150">
                                <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片">×</em>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2  control-label">性别</label>
                        <div class="col-sm-9 ">
                            <label class="radio-inline">
                                <input type="radio" name="member_sex" value="1">男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="member_sex" value="2">女
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="member_sex" value="0" checked="true">保密
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label"></label>
                        <div class="col-sm-6 col-md-8 col-xs-12">
                            <input type="submit"  value="提交" class="btn btn-primary col-lg-1">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".close").click(function(){
                $(this).parents().find("#member_header").remove();
                $(this).remove();
                $(".member_pic").append("<input type='file' id='PictureUrl' name='member_header' />")
            });

            $(document).on('change', '#PictureUrl', function () {
                console.log(this.files[0]);
                function getObjectURL(file) {
                    var url = null;
                    if (window.createObjcectURL != undefined) {
                        url = window.createOjcectURL(file);
                    } else if (window.URL != undefined) {
                        url = window.URL.createObjectURL(file);
                    } else if (window.webkitURL != undefined) {
                        url = window.webkitURL.createObjectURL(file);
                    }
                    return url;
                }
                var objURL = getObjectURL(this.files[0]);
                $(":submit").click(function() {
                    var member_name = $(this).parents().find("#username").val();
//                var member_header = $(this).parents().find(":file").val();
                    var member_sex = $(this).parents().find(":radio").val();
                    $.ajax({
                        url: "{:U('/Home/Member/member_info')}",
                        type: "get",
                        data: {member_name: member_name, member_header: objURL, member_sex: member_sex},
                        success: function (res) {
//                        console.log(res);
                            alert(res);
                        }
                    });
                })
            });

            })
    </script>
</block>