<extend name="public_part/public_part" />

<block name="right">
    <div class="col-xs-12 col-sm-9 col-lg-10 sys_menu_box">
        <!--slider css--->
        <link rel="stylesheet" href="__PUBLIC__/Home/css/boostrap.slider.css">
        <style>
            .slider.slider-horizontal {
                height:40px;
                width:100%;
            }
            .slider.slider-horizontal .slider-handle {
                margin-left: -10px;
                margin-top: 10px;
            }
            #Slider .slider-handle {
                background: #36b27a;
                border-radius:50%;
            }
            #Slider .slider-selection {
                background: #36b27a;
            }
            .add-jian input{height:40px;text-align:center}
            .quantity-remove, .quantity-add {
                cursor: pointer;
            }
            .quantity-add.glyphicon, .quantity-remove.glyphicon {
                display: block;
                cursor: pointer;
            }
            .slider_box{
                padding:20px;margin-bottom:0px;display:none
            }
            .update_important{
                position:absolute;
                top:0;
                right:80px;
                color:gray;
                cursor:pointer;
                z-index:10
            }
            .update_important.active{
                color:#22B766
            }
            .update_important.active:hover{
                color:gray
            }
            .update_important:hover{
                color:#22B766
            }
        </style>
        <!--slider end--->
        <div class="bd_nav_list">
            <div class="btn-group">
                <a class="btn btn-default" href="javascript:;" onclick="history.go( -1 );"><i class="fa fa-mail-reply"></i> 返回</a>
            </div>
        </div>
        <div class="panel panel-default">
            <ul class="step step2" id="module_steps">
                <li class="step_on"><i class="fa fa-circle"></i><span>基本信息</span></li>
                <li><i class="fa fa-circle"></i><span>功能设置</span></li>
                <li><i class="fa fa-circle"></i><span>支付</span></li>
                <li><i class="fa fa-circle"></i><span>完成</span></li>
            </ul>
        </div>
        <form method="post" oninput="x.value=parseInt(a.value)*parseInt(b.value)" action="{:U('Activity/index')}" class="form-horizontal" enctype="multipart/form-data" id="form1" onsubmit="return check();">
            <input type="hidden" name="total_money" id="total_money">
            <input type="hidden" name="can_join" id="can_join" value="20">
            <div class="panel panel-default">
                <div class="panel-heading">新增活动</div>
                <div class="panel-body">
                    <div class="tab-pane  active" id="tab_step1">
                        <div class="panel panel-default">
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动主题</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="" class="form-control" name="title" id="title">
                                        <span class="help-block">活动主题</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">本次活动起止时间</label>

                                   <div class="col-sm-9">
                                       <input name="ac_times[start]" type="datetime-local" value="">
                                       <input name="ac_times[end]" type="datetime-local" value="">
                                       <!--    <script type="text/javascript">
                                              require(["daterangepicker"], function($){
                                                  $(function(){
                                                      $(".daterange.daterange-time").each(function(){
                                                          var elm = this;
                                                          $(this).daterangepicker({
                                                              startDate: $(elm).prev().prev().val(),
                                                              endDate: $(elm).prev().val(),
                                                              format: "YYYY-MM-DD HH:mm",
                                                              timePicker: true,
                                                              timePicker12Hour : false,
                                                              timePickerIncrement: 1,
                                                              minuteStep: 1
                                                          }, function(start, end){
                                                              var start_time = start.toDateTimeStr().replace(/-/g,"/");
                                                              var date = new Date(start_time);
                                                              var humanDate = new Date(Date.UTC(date.getFullYear(),date.getMonth(),date.getDate(),date.getHours(),date.getMinutes(), date.getSeconds()));
                                                              start_time = humanDate.getTime()/1000 - 8*60*60;

                                                              var end_time = end.toDateTimeStr().replace(/-/g,"/");
                                                              var date_end = new Date(end_time);
                                                              var humanDate_end = new Date(Date.UTC(date_end.getFullYear(),date_end.getMonth(),date_end.getDate(),date_end.getHours(),date_end.getMinutes(), date.getSeconds()));
                                                              end_time = humanDate_end.getTime()/1000 - 8*60*60;
                                                              var jiange  = end_time - start_time;
                                                              if(2 > 0 && jiange > 172800){
                                                                  util.message("活动时间设置有误、活动开始时间与结束时间最多只能相差2天！");
                                                                  return;
                                                              }
                                                              $(elm).find(".date-title").html(start.toDateTimeStr() + " 至 " + end.toDateTimeStr());
                                                              $(elm).prev().prev().val(start.toDateTimeStr());
                                                              $(elm).prev().val(end.toDateTimeStr());
                                                          });
                                                      });
                                                  });
                                              });
                                          </script>

                                          <input name="ac_times[start]" type="hidden" value="2018-01-05 11:35">
                                          <input name="ac_times[end]" type="hidden" value="2018-01-05 17:35">
                                          <button class="btn btn-default daterange daterange-time" type="button"><span class="date-title">2018-01-05 11:35 至 2018-01-05 17:35</span> <i class="fa fa-calendar"></i></button>
                                          <span class="help-block">活动时间 <font color="red">一经确定、活动时间无法修改</font> <font color="red">、注意:活动时间范围必须小于等于2天</font></span>-->
                                       <span class="help-block">活动时间 <font color="red">一经确定、活动时间无法修改</font> <font color="red">、注意:活动时间范围必须小于等于2天</font></span>
                                      </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">场控密码</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="5678" class="form-control" name="pass_word">
                                        <span class="help-block">活动场控密码</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">是否必须关注</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="gz_must" value="1" id="open_gz"> 是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gz_must" value="0" checked="true" id="close_gz">否
                                        </label>
                                        <span class="help-block">认证服务号有效</span>
                                    </div>
                                </div>
                                <div class="form-group open_gz" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">引导关注素材</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="" class="form-control" name="gz_url">
                                        <span class="help-block">认证服务号引导关注素材链接</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">开启地区限制</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="open_gps" value="1" id="open_gps">开启
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="open_gps" value="0" checked="true" id="close_gps">关闭
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group open_gps" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">开启地区调试模式</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="open_gps_tiaoshi" value="1" id="open_gps">开启
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="open_gps_tiaoshi" value="0" checked="true" id="close_gps">关闭
                                        </label>
                                        <span class="help-block">活动开始后、请关闭调试模式</span>
                                    </div>
                                </div>
                                <div class="form-group open_gps" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">限制地区页面背景</label>
                                    <div class="col-sm-9">


                                        <div class="input-group ">
                                            <input type="text" name="gps_bg" value="" class="form-control" autocomplete="off">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="showImageDialog(this);">选择图片</button>
                 <!-- <script type="text/javascript">
                      function showImageDialog(elm, opts, options) {
                          {require("__PUBLIC__/Home/js/util.js"),ii(this)}


                      }
                      var ii=function(util){
                          var btn = $(elm);
                          var ipt = btn.parent().prev();
                          var val = ipt.val();
                          var img = ipt.parent().next().children();
                          options = {'global':false,'class_extra':'','direct':true,'multiple':false,'fileSizeLimit':5120000};
                          util.image(val, function(url){
                              if(url.url){
                                  if(img.length > 0){
                                      img.get(0).src = url.url;
                                  }
                                  ipt.val(url.attachment);
                                  ipt.attr("filename",url.filename);
                                  ipt.attr("url",url.url);
                              }
                              if(url.media_id){
                                  if(img.length > 0){
                                      img.get(0).src = "";
                                  }
                                  ipt.val(url.media_id);
                              }
                          }, options);
                      };
                      function deleteImage(elm){
                          require(["jquery"], function($){
                              $(elm).prev().attr("src", "./resource/images/nopic.jpg");
                              $(elm).parent().prev().find("input").val("");
                          });
                      }
                  </script>-->
			</span>
                                        </div>
                                        <div class="input-group " style="margin-top:.5em;">
                                            <img src="./resource/images/nopic.jpg" onerror="" class="img-responsive img-thumbnail" width="150">
                                            <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage(this)">×</em>
                                        </div>						<span class="help-block">限制地区页面背景 规格 640px*1000px 注:此图必须认真做、可以作为广告图</span>
                                    </div>
                                </div>
                                <div class="form-group open_gps" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">限制地区</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="" class="form-control" name="must_location">
                                        <span class="help-block">限制地区、多个请以英文逗号隔开</span>
                                    </div>
                                </div>

                                <div class="form-group open_gps" style="display:none">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">验证有效时间</label>
                                    <div class="col-sm-9 ">
                                        <div class="input-group">
                                            <input type="text" name="success_time" class="form-control" value="2">
                                            <span class="input-group-addon">分钟</span>
                                        </div>
                                        <span class="help-block">用户验证成功后、存活有效时间 只可以为整数</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">用户是否需要审核</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="1" checked="true"> 无需审核
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="2">必须审核
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">准许用户分享</label>
                                    <div class="col-sm-9 ">
                                        <label class="radio-inline">
                                            <input type="radio" name="is_share" value="1" checked="true">可以分享
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="is_share" value="0">禁止分享
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2  control-label"></label>
                                <div class="col-sm-9 ">
                                    <a class="btn btn-success" href="javascript:;" onclick="step(1)">下一步</a>
                                </div>
                            </div>
                        </div>
                    </div><!--step1 end-->
                    <div class="tab-pane  active" id="tab_step2" style="display:none">
                        <div class="panel panel-default">
                            <div class="panel-heading">功能与人数选择</div>
                            <div class="panel-body">
                                <div class="had_selected_control" style="display:none"></div>
                                <div class="had_selected_zzcontrol" style="display:none"></div>
                                <div class="order_title">活动功能选择</div>
                                <ul id="moduleList" class="moduleList order_line">
                                    <li data-price="300.00" data-control="签到">
                                        <i class="meepo-signin"></i>
                                        <a class="module-name">签到</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="1200.00" data-control="粒子签到">
                                        <i class="meepo-threed"></i>
                                        <a class="module-name">粒子签到</a><span>￥1200.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="普通上墙">
                                        <i class="meepo-msgNum"></i>
                                        <a class="module-name">普通上墙</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="600.00" data-control="霸屏上墙">
                                        <i class="meepo-holdscreen"></i>
                                        <a class="module-name">霸屏上墙</a><span>￥600.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="普通抽奖">
                                        <i class="meepo-gift"></i>
                                        <a class="module-name">普通抽奖</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="嘉宾">
                                        <i class="meepo-guest"></i>
                                        <a class="module-name">嘉宾</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="投票">
                                        <i class="meepo-vote"></i>
                                        <a class="module-name">投票</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="600.00" data-control="摇一摇">
                                        <i class="meepo-shake2"></i>
                                        <a class="module-name">摇一摇</a><span>￥600.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="抽奖箱">
                                        <i class="meepo-pie"></i>
                                        <a class="module-name">抽奖箱</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="600.00" data-control="抢红包">
                                        <i class="meepo-redpacker"></i>
                                        <a class="module-name">抢红包</a><span>￥600.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="对对碰">
                                        <i class="meepo-mstching"></i>
                                        <a class="module-name">对对碰</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="0.00" data-control="相册">
                                        <i class="meepo-photo"></i>
                                        <a class="module-name">相册</a><span>￥0.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="幸运号码">
                                        <i class="meepo-publish"></i>
                                        <a class="module-name">幸运号码</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="砸金蛋">
                                        <i class="meepo-stars"></i>
                                        <a class="module-name">砸金蛋</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="弹幕">
                                        <i class="meepo-msgreview"></i>
                                        <a class="module-name">弹幕</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="幸运手机号">
                                        <i class="meepo-phone"></i>
                                        <a class="module-name">幸运手机号</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="500.00" data-control="团队摇一摇">
                                        <i class="meepo-shake"></i>
                                        <a class="module-name">团队摇一摇</a><span>￥500.00</span>

                                    </li>
                                    <li data-price="500.00" data-control="现场答题">
                                        <i class="meepo-photo"></i>
                                        <a class="module-name">现场答题</a><span>￥500.00</span>

                                    </li>
                                    <li data-price="600.00" data-control="猴子爬树">
                                        <i class="meepo-shake"></i>
                                        <a class="module-name">猴子爬树</a><span>￥600.00</span>

                                    </li>
                                    <li data-price="300.00" data-control="许愿树">
                                        <i class="meepo-heart"></i>
                                        <a class="module-name">许愿树</a><span>￥300.00</span>

                                    </li>
                                    <li data-price="800.00" data-control="shuqian">
                                        <i class="meepo-money"></i>
                                        <a class="module-name">疯狂数钱</a><span>￥800.00</span>

                                    </li>
                                    <li data-price="1000.00" data-control="电子签约">
                                        <i class="meepo-signin"></i>
                                        <a class="module-name">电子签约</a><span>￥1000.00</span>

                                    </li>
                                    <li data-price="800.00" data-control="摇大奖">
                                        <i class="meepo-shake"></i>
                                        <a class="module-name">摇大奖</a><span>￥800.00</span>

                                    </li>
                                    <li data-price="500.00" data-control="3D抽奖">
                                        <i class="meepo-gift"></i>
                                        <a class="module-name">3D抽奖</a><span>￥500.00</span>

                                    </li>
                                    <li data-price="800.00" data-control="3D摇一摇">
                                        <i class="meepo-shake"></i>
                                        <a class="module-name">3D摇一摇</a><span>￥800.00</span>

                                    </li>
                                    <li data-price="800.00" data-control="3D游泳">
                                        <i class="meepo-shake"></i>
                                        <a class="module-name">3D游泳</a><span>￥800.00</span>

                                    </li>
                                    <li data-price="800.00" data-control="3D赛马">
                                        <i class="meepo-shake"></i>
                                        <a class="module-name">3D赛马</a><span>￥800.00</span>

                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="order_title">增值服务功能</div>
                                <ul id="zzList" class="zzList order_line">
                                    <li data-price="1000.00" data-zzcontrol="高级签到">
                                        <i class="fa fa-external-link"></i>
                                        <a class="module-name">高级签到</a><span>￥1000.00</span>

                                    </li>
                                    <li data-price="3000.00" data-zzcontrol="3D签到">
                                        <i class="fa fa-external-link"></i>
                                        <a class="module-name">3D签到</a><span>￥3000.00</span>

                                    </li>
                                    <li data-price="1500.00" data-zzcontrol="现场支持">
                                        <i class="fa fa-external-link"></i>
                                        <a class="module-name">现场支持(重庆)</a><span>￥1500.00</span>

                                    </li>
                                    <li data-price="2500.00" data-zzcontrol="现场支持(省外)">
                                        <i class="fa fa-external-link"></i>
                                        <a class="module-name">现场支持(省外)</a><span>￥2500.00</span>

                                    </li>
                                    <li data-price="800.00" data-zzcontrol="手绘签到">
                                        <i class="fa fa-external-link"></i>
                                        <a class="module-name">手绘签到</a><span>￥800.00</span>

                                    </li>
                                    <li data-price="1500.00" data-zzcontrol="高级弹幕">
                                        <i class="fa fa-external-link"></i>
                                        <a class="module-name">高级弹幕</a><span>￥1500.00</span>

                                    </li>
                                    <li data-price="1500.00" data-zzcontrol="现场直播">
                                        <i class="fa fa-external-link"></i>
                                        <a class="module-name">现场直播</a><span>￥1500.00</span>

                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="order_title">参与人数选择【最小参与人数为20人,不计人数只收取800元】</div>
                                <!--slider--->


                                <input id="slider" data-slider-id="Slider" type="text" data-value="20" value="20" style="display: none;">
                                <!--slider--->
                                   <input type="range" id="a" value="1" >
                                   <input type="number" id="b" value="20" style="display: none">
                                <ul id="personsList" class="personsList order_line">
                                    <li data-price="0" id="persons_li">
                                        <i class="meepo-users"></i>
                                        <a class="module-name "><output class="persons_num" name="x" for="a b"></output>人</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group col-sm-12">
                                <div id="choseModule" class="order_line">
                                    当前已选择 <span class="label label-success" id="num">0</span> 个功能，共 <span class="label label-danger" id="allPrice">￥0.00</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2  control-label"></label>
                                <div class="col-sm-9 ">
                                    <a class="btn btn-default" href="javascript:;" onclick="back_step(1)" style="margin-right:20px;">上一步</a>
                                    <a class="btn btn-success" href="javascript:;" onclick="step(2)">下一步</a>
                                </div>
                            </div>
                        </div>
                    </div><!--step2-->
                    <div class="tab-pane  active" id="tab_step3" style="display:none">
                        <div class="panel panel-default">
                            <div class="panel-heading">请确认本次活动信息</div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tbody id="order_detail"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">请选择支付方式</div>
                            <div class="panel-body">
                                <ul id="pay_type" class="pay_type">
                                    <li data-type="1">
                                        微信支付
                                        <input type="radio" name="pay_type" value="1" class="hidden">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2  control-label"></label>
                            <div class="col-sm-9 ">
                                <a class="btn btn-default" href="javascript:;" onclick="back_step(2)" style="margin-right:20px;">上一步</a>
                                <input type="submit" name="submit" value="确定提交" class="btn btn-success">
                                <input type="hidden" name="token" value="7ea42ec0">
                            </div>
                        </div>
                    </div><!--step3-->
                </div>
            </div>
        </form>

        <script type="text/javascript">

            {require("__PUBLIC__/Home/js/bootstrap-slider.min.js")}
            var one_price = 0.50;
            var min_persons = 20;
            var max_persons = 100000;
            var free_persons = 50;
            requireExtend(["bootstrap-slider"],function(){
                var mySlider = $('#slider').slider({
                    step: 1,
                    min: min_persons,
                    max: max_persons,
                    value:"20",
                    handle: 'square',
                    tooltip: 'always',
                    formatter: function(value) {
                        if($(".slider_box").css('display')=='block'){
                            $(".persons_num").val(value+"人");
                            $("#can_join").val(value);
                            var money = (value - free_persons )*one_price;
                            $("#persons_li").attr("data-price",(money<0?0:money.toFixed(2)));
                            $(".persons_money").text((money<0?0:money.toFixed(2))+"元");
                            var all_modules = $('#moduleList li.module_on');
                            var allPrice = money<0?0:money;
                            console.log(allPrice);
                            for(var i=0;i<all_modules.length;i++){
                                allPrice += parseFloat($(all_modules[i]).data('price'));
                            }
                            var zz_modules = $('#zzList li.module_on');
                            if(zz_modules.length>0){
                                for(var i=0;i<zz_modules.length;i++){
                                    allPrice += parseFloat($(zz_modules[i]).data('price'));
                                }
                            }
                            $('#num').html(($('#moduleList li.module_on').length+1));
                            $("#total_money").val(allPrice.toFixed(2));
                            $('#allPrice').html('￥' + allPrice.toFixed(2));
                        }
                        return value+"人";

                    }
                });
                $(".quantity-add").click(function(e){
                    var newcount = parseInt($("#true_persons").val()) + 1;
                    if(newcount<=min_persons){
                        newcount = min_persons;
                    }
                    if(newcount>=max_persons){
                        newcount = max_persons;
                    }
                    mySlider.slider('setValue', newcount);
                    $("#true_persons").val(newcount);
                    $("#can_join").val(newcount);
                    $(".persons_num").text(newcount+"人");
                    var money = newcount*one_price;
                    $(".persons_money").text(money.toFixed(2)+"元");
                    $("#persons_li").attr("data-price",money.toFixed(2));
                    var all_modules = $('#moduleList li.module_on');
                    var allPrice = money;
                    for(var i=0;i<all_modules.length;i++){
                        allPrice += parseFloat($(all_modules[i]).data('price'));
                    }
                    var zz_modules = $('#zzList li.module_on');
                    if(zz_modules.length>0){
                        for(var i=0;i<zz_modules.length;i++){
                            allPrice += parseFloat($(zz_modules[i]).data('price'));
                        }
                    }
                    $('#num').html($('#moduleList li.module_on').length+1);
                    $("#total_money").val(allPrice.toFixed(2));
                    $('#allPrice').html('￥' + allPrice.toFixed(2));

                });
                $(".quantity-jian").click(function(e){

                    var newcount = parseInt($("#true_persons").val()) - 1;
                    if(newcount<=min_persons){
                        newcount = min_persons;
                    }
                    if(newcount>=max_persons){
                        newcount = max_persons;
                    }
                    var money = newcount*one_price;
                    $("#persons_li").attr("data-price",money.toFixed(2));
                    $(".persons_money").text(money.toFixed(2)+"元");
                    mySlider.slider('setValue', newcount);
                    $("#can_join").val(newcount)
                    $("#true_persons").val(newcount);
                    $(".persons_num").text(newcount+"人");
                    var all_modules = $('#moduleList li.module_on');
                    var allPrice = money;
                    for(var i=0;i<all_modules.length;i++){
                        allPrice += parseFloat($(all_modules[i]).data('price'));
                    }
                    var zz_modules = $('#zzList li.module_on');
                    if(zz_modules.length>0){
                        for(var i=0;i<zz_modules.length;i++){
                            allPrice += parseFloat($(zz_modules[i]).data('price'));
                        }
                    }
                    $('#num').html($('#moduleList li.module_on').length+1);
                    $("#total_money").val(allPrice.toFixed(2));
                    $('#allPrice').html('￥' + allPrice.toFixed(2));
                });
                $('#true_persons').bind('input propertychange', function() {

                    var newcount = parseInt($("#true_persons").val());
                    if(newcount<=min_persons){
                        newcount = min_persons;
                    }
                    if(newcount>=max_persons){
                        newcount = max_persons;
                    }
                    $("#true_persons").val(newcount);
                    mySlider.slider('setValue',newcount);
                    $("#can_join").val(newcount);
                    $(".persons_num").text(newcount+"人");
                    var money = newcount*one_price;
                    $("#persons_li").attr("data-price",money.toFixed(2));
                    $(".persons_money").text(money.toFixed(2)+"元");
                    var all_modules = $('#moduleList li.module_on');
                    var allPrice = money;
                    for(var i=0;i<all_modules.length;i++){
                        allPrice += parseFloat($(all_modules[i]).data('price'));
                    }
                    var zz_modules = $('#zzList li.module_on');
                    if(zz_modules.length>0){
                        for(var i=0;i<zz_modules.length;i++){
                            allPrice += parseFloat($(zz_modules[i]).data('price'));
                        }
                    }
                    $('#num').html($('#moduleList li.module_on').length+1);
                    $("#total_money").val(allPrice.toFixed(2));
                    $('#allPrice').html('￥' + allPrice.toFixed(2));
                });
            });
        </script>
        <script>
            $(function(){
                $('html,body').animate({scrollTop: '0px'}, 80);
                $("#open_gz").on('click',function(){
                    $(".open_gz").show();
                });
                $("#close_gz").on('click',function(){
                    $(".open_gz").hide();
                });
                $("#open_gps").on('click',function(){
                    $(".open_gps").show();
                });
                $("#close_gps").on('click',function(){
                    $(".open_gps").hide();
                });
                $('#moduleList li').click(function(){
                    var $this = $(this);
                    if($this.hasClass('module_on')){
                        $('.had_selected_control').find('.'+$this.attr('data-control')).remove();
                        $this.removeClass('module_on').find('.module_checked').remove();
                    }else{
                        if($('.had_selected_control').find('.'+$this.attr('data-control')).length<=0){
                            $('.had_selected_control').append('<input type="hidden" name="controls[]" class="'+$this.attr('data-control')+'" value="'+$this.attr('data-control')+'">');
                        }
                        $this.addClass('module_on').append('<i class="fa fa-check-circle module_checked"></i>');
                    }
                    var num = $('#moduleList li.module_on').length;
                    num = num + $('#personsList li.module_on').length;
                    var all_modules = $('#moduleList li.module_on');
                    var allPrice = 0.00;
                    for(var i=0;i<all_modules.length;i++){
                        allPrice += parseFloat($(all_modules[i]).data('price'));
                    }
                    var zz_modules = $('#zzList li.module_on');
                    if(zz_modules.length>0){
                        for(var i=0;i<zz_modules.length;i++){
                            allPrice += parseFloat($(zz_modules[i]).data('price'));
                        }
                    }
                    if($('#personsList li.module_on').length>0){
                        allPrice = allPrice + parseFloat($("#persons_li").attr("data-price"));
                    }
                    $('#num').html(num);
                    $("#total_money").val(allPrice.toFixed(2));
                    $('#allPrice').html('￥' + allPrice.toFixed(2));
                });
                $('#zzList li').click(function(){
                    var $this = $(this);
                    if($this.hasClass('module_on')){
                        $('.had_selected_zzcontrol').find('.'+$this.attr('data-zzcontrol')).remove();
                        $this.removeClass('module_on').find('.module_checked').remove();
                    }else{
                        if($('.had_selected_zzcontrol').find('.'+$this.attr('data-zzcontrol')).length<=0){
                            $('.had_selected_zzcontrol').append('<input type="hidden" name="zz_controls[]" class="'+$this.attr('data-zzcontrol')+'" value="'+$this.attr('data-zzcontrol')+'">');
                        }
                        $this.addClass('module_on').append('<i class="fa fa-check-circle module_checked"></i>');
                    }
                    var num = $('#moduleList li.module_on').length;
                    num = num + $('#personsList li.module_on').length;
                    var all_modules = $('#moduleList li.module_on');
                    var allPrice = 0.00;
                    for(var i=0;i<all_modules.length;i++){
                        allPrice += parseFloat($(all_modules[i]).data('price'));
                    }
                    var zz_modules = $('#zzList li.module_on');
                    if(zz_modules.length>0){
                        for(var i=0;i<zz_modules.length;i++){
                            allPrice += parseFloat($(zz_modules[i]).data('price'));
                        }
                    }
                    if($('#personsList li.module_on').length>0){
                        allPrice = allPrice + parseFloat($("#persons_li").attr("data-price"));
                    }
                    $('#num').html(num);
                    $("#total_money").val(allPrice.toFixed(2));
                    $('#allPrice').html('￥' + allPrice.toFixed(2));
                });

                $('#personsList li').click(function(){
                    $(".slider_box").show();
                    var $this = $(this);
                    $('#personsList li').removeClass('module_on');
                    $('#personsList li').find('.module_checked').remove();
                    $this.addClass('module_on').append('<i class="fa fa-check-circle module_checked"></i>');
                    var num = $('#moduleList li.module_on').length;
                    num = num + $('#personsList li.module_on').length;
                    var all_modules = $('#moduleList li.module_on');
                    var allPrice = 0.00;
                    for(var i=0;i<all_modules.length;i++){
                        allPrice += parseFloat($(all_modules[i]).data('price'));
                    }
                    var zz_modules = $('#zzList li.module_on');
                    if(zz_modules.length>0){
                        for(var i=0;i<zz_modules.length;i++){
                            allPrice += parseFloat($(zz_modules[i]).data('price'));
                        }
                    }
                    if($('#personsList li.module_on').length>0){
                        allPrice = allPrice + parseFloat($("#persons_li").attr("data-price"));
                    }
                    $('#num').html(num);
                    $("#total_money").val(allPrice.toFixed(2));
                    $('#allPrice').html('￥' + allPrice.toFixed(2));
                    $("#can_join").val($(".persons_num").val());
                });
                $('#pay_type li').click(function(){
                    var $this = $(this);
                    $(this).addClass("pay_on").siblings().removeClass("pay_on");
                    $('#pay_type li').find('.pay_checked').remove();
                    $('#pay_type li').find('input').prop("checked", "");
                    $this.find('input').prop("checked", "checked");
                    $this.append('<i class="fa fa-check-circle pay_checked"></i>');
                });
            });

            function step(id){

                if(id==1){
                    if($.trim($(':text[name="title"]').val()) == '') {
                        alert('请输入活动名称');
                        util.message('请输入活动名称.', '', 'error');
                        return false;
                    }

                    /*if($.trim($(':text[name="pass_word"]').val()) == '') {
                     util.message('请输入场控密码.', '', 'error');
                     return false;
                     }*/
                    if($("input[name='open_gps']:checked").val()==1){
                        if($.trim($(':text[name="must_location"]').val()) == '') {
                            util.message('请输入限制地区.', '', 'error');
                            return false;
                        }
                    }
                    $("#module_steps").children().eq(0).removeClass('step_on');
                    $("#module_steps").children().eq(1).addClass('step_on');
                    $("#tab_step1").hide();
                    $("#tab_step2").show();
                    $('html,body').animate({scrollTop: '0px'}, 80);
                }else if(id==2){
                    var all_modules = $('#moduleList li.module_on');
                    var zz_modules = $('#zzList li.module_on');
                    var check_modules = all_modules.length;
                    if(check_modules<=0){
                        alert("请选择活动功能")
                        util.message('请选择活动功能.', '', 'error');
                        return false;
                    }
                    if($('#personsList li.module_on').length<=0){
                        alert('请选择活动参与人数.');
                        util.message('请选择活动参与人数.', '', 'error');
                        return false;
                    }
                    $("#module_steps").children().eq(1).removeClass('step_on');
                    $("#module_steps").children().eq(2).addClass('step_on');
                    $("#tab_step1").hide();
                    $("#tab_step2").hide();
                    var html = "";
                    html += "<tr>";
                    html += "<td width=\"100\" align=\"right\">活动名称：</td>";
                    html += "<td>"+$("#title").val()+"</td>";
                    html += "<td width=\"100\" align=\"right\">开始时间：</td>";
                    html += "<td>"+$("input[name='ac_times[start]']").val()+"</td>";
                    html += "<td width=\"100\" align=\"right\">结束时间：</td>";
                    html += "<td>"+$("input[name='ac_times[end]']").val()+"</td>";
                    html += "</tr>";
                    html += "<tr>";
                    html += "<td align=\"right\" valign=\"top\">已选功能：</td>";
                    html += "<td colspan=\"5\">";
                    html += "<ul id=\"myModuleList\">";
                    for(var i=0;i<check_modules;i++){
                        var module = $(all_modules[i]);
                        html += '<li><i class="'+module.find('i').eq(0).attr('class')+'"></i>'+module.find('.module-name').text()+'<span>￥'+module.data('price')+'</span>';
                        html += " <i class=\"and\">+</i>";
                        html += "</li> ";
                    }
                    if(zz_modules.length>0){
                        for(var i=0;i<zz_modules.length;i++){
                            var zz_module = $(zz_modules[i]);
                            html += '<li><i class="'+zz_module.find('i').eq(0).attr('class')+'"></i>'+zz_module.find('.module-name').text()+'<span>￥'+zz_module.data('price')+'</span>';
                            html += " <i class=\"and\">+</i>";
                            html += "</li> ";
                        }
                    }
                    html += '<li><i class="'+$('#personsList li.module_on').find('i').eq(0).attr('class')+'"></i>'+$('#personsList li.module_on').find('.module-name').text()+'<span>￥'+800+'</span>';
                    html += " <i class=\"and\">+</i>";
                    html += "</li> ";
                    var allPrice = 0.00;
                    for(var i=0;i<all_modules.length;i++) {
                        allPrice += parseFloat($(all_modules[i]).data('price'));
                    }
                    if(zz_modules.length>0){
                        for(var i=0;i<zz_modules.length;i++){
                            allPrice += parseFloat($(zz_modules[i]).data('price'));
                        }
                    }
                    if($('#personsList li.module_on').length>0){
                    }
                    allPrice= parseInt(allPrice)+parseInt(800);
                    html += '<li class=\"all\">￥'+allPrice.toFixed(2)+'<i class=\"and\">=</i>';
                    html += "</li>";
                    html += "</ul>";
                    html += "</td>";
                    html += "</tr>";
                    $("#order_detail").html(html);
                    $("#tab_step3").show();
                    $('html,body').animate({scrollTop: '0px'}, 80);
                }
            }
            function back_step(id){
                if(id==1){
                    $("#tab_step1").show();
                    $("#tab_step2").hide();
                    $("#tab_step3").hide();
                }else if(id==2){
                    $("#tab_step1").hide();
                    $("#tab_step3").hide();
                    $("#tab_step2").show();
                }
            }
            function check(){
                var pay_type = $('input:radio[name="pay_type"]:checked').val();
                if(typeof(pay_type)=="undefined" || pay_type==''){
                    alert("请选择支付方式");
                    util.message('请选择支付方式.', '', 'error');
                    return false;
                }
            }
        </script>
    </div>
</block>




