<extend></extend>
<block name="center">
<!--右边内容-->
<div class="col-xs-12 col-sm-9 col-lg-10 sys_menu_box">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="http://wall.juxianchang.com/web/index.php?c=site&amp;a=entry&amp;op=basic&amp;do=my_home&amp;m=meepo_xianchang"><i class="fa fa-cog"></i> 基本信息</a>
        </li>
        <li>
            <a href="http://wall.juxianchang.com/web/index.php?c=site&amp;a=entry&amp;op=security&amp;do=my_home&amp;m=meepo_xianchang"><i class="fa fa-lock"></i> 安全中心</a>
        </li>
    </ul>
    <form action="http://wall.juxianchang.com/web/index.php?c=site&amp;a=entry&amp;do=my_home&amp;m=meepo_xianchang" method="post" class="form-horizontal" role="form">
        <div class="panel panel-default">
            <div class="panel-heading">基本信息</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">用户昵称</label>
                    <div class="col-sm-10 col-xs-12">
                        <input id="username" name="username" type="text" class="form-control" value="LZ123456" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户头像</label>
                    <div class="col-sm-9">

                        <script type="text/javascript">
                            function showImageDialog(elm, opts, options) {
                                require(["util"], function(util){
                                    var btn = $(elm);
                                    var ipt = btn.parent().prev();
                                    var val = ipt.val();
                                    var img = ipt.parent().next().children();
                                    options = {'global':false,'class_extra':'','direct':true,'multiple':false,'fileSizeLimit':5120000};
                                    util.image(val, function(url){
                                        if(url.url){
                                            if(img.length > 0){
                                                img.get(0).src = url.url;
                                            }
                                            ipt.val(url.attachment);
                                            ipt.attr("filename",url.filename);
                                            ipt.attr("url",url.url);
                                        }
                                        if(url.media_id){
                                            if(img.length > 0){
                                                img.get(0).src = "";
                                            }
                                            ipt.val(url.media_id);
                                        }
                                    }, options);
                                });
                            }
                            function deleteImage(elm){
                                require(["jquery"], function($){
                                    $(elm).prev().attr("src", "./resource/images/nopic.jpg");
                                    $(elm).parent().prev().find("input").val("");
                                });
                            }
                        </script>
                        <div class="input-group ">
                            <input type="text" name="avatar" value="" class="form-control" autocomplete="off">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="showImageDialog(this);">选择图片</button>
			</span>
                        </div>
                        <div class="input-group " style="margin-top:.5em;">
                            <img src="./聚现场_files/nopic.jpg" onerror="" class="img-responsive img-thumbnail" width="150">
                            <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage(this)">×</em>
                        </div>						<span class="help-block">用户头像</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2  control-label">性别</label>
                    <div class="col-sm-9 ">
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="1">男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="2">女
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="0" checked="true">保密
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label"></label>
                    <div class="col-sm-6 col-md-8 col-xs-12">
                        <input type="submit" name="profile_submit" value="保存" class="btn btn-primary col-lg-1">
                        <input type="hidden" name="token" value="7ea42ec0">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
<script>
    $(document).ready(function(){
        if($('#loading').length>0){
            $('#loading').remove();
        }
    });
</script>
<!--默认js-->

<script type="text/javascript">
    require(['bootstrap']);
    $('.js-clip').each(function(){
        util.clip(this, $(this).attr('data-url'));
    });
</script>

<!--默认js-->


<!--尾部-->
<style>
    #footer{
        height:60px;
        width:100%;
        text-align: center;
        /*background-color: #f3f3f4;*/
        line-height:60px;
    }
    #footer .copy_right{
        color: #000;
        margin:0;

    }

    *{ margin:0; padding:0; list-style:none;}
    img{ border:0;}

    .rides-cs {  font-size: 12px; background:#29a7e2; position: fixed; top: 250px; right: 0px; _position: absolute; z-index: 1500; border-radius:6px 0px 0 6px;}
    .rides-cs a { color: #00A0E9;}
    .rides-cs a:hover { color: #ff8100; text-decoration: none;}
    .rides-cs .floatL { width: 36px; float:left; position: relative; z-index:1;margin-top: 21px;min-height: 181px;}
    .rides-cs .floatL a { font-size:0; text-indent: -999em; display: block;}
    .rides-cs .floatR { width: 130px; float: left; padding: 5px; overflow:hidden;}
    .rides-cs .floatR .cn {background:#F7F7F7; border-radius:6px;margin-top:4px;}
    .rides-cs .cn .titZx{ font-size: 14px; color: #333;font-weight:600; line-height:24px;padding:5px;text-align:center;}
    .rides-cs .cn ul {padding:0px;}
    .rides-cs .cn ul li { line-height: 38px; height:38px;border-bottom: solid 1px #E6E4E4;overflow: hidden;text-align:center;}
    .rides-cs .cn ul li span { color: #777;}
    .rides-cs .cn ul li a{color: #777;}
    .rides-cs .cn ul li img { vertical-align: middle;}
    .rides-cs .btnOpen, .rides-cs .btnCtn {  position: relative; z-index:9; top:25px; left: 0;  background-image: url(http://demo.lanrenzhijia.com/2014/service1031/images/lanrenzhijia.png); background-repeat: no-repeat; display:block;  height: 146px; padding: 8px;}
    .rides-cs .btnOpen { background-position: 0 0;}
    .rides-cs .btnCtn { background-position: -37px 0;}
    .rides-cs ul li.top { border-bottom: solid #ACE5F9 1px;}
    .rides-cs ul li.bot { border-bottom: none;}

    #goto-top {
        display:none;
        position:fixed;
        width:40px;
        height:40px;
        background-image:url(../addons/meepo_xianchang/template/resource/images/top.png);
        bottom:30px;
        right:10px;
        -webkit-transition:all 0.2s;
        -moz-transition:all 0.2s;
        -o-transition:all 0.2s;
        transition:all 0.2s;
        z-index:9999;
    }
    #goto-top:hover{
        cursor:point
    }
</style>
<div id="floatTools" class="rides-cs" style="min-height:246px;display:none">
    <div class="floatL">
        <a id="aFloatTools_Show" class="btnOpen" title="查看在线客服" style="top:20px;display:block" href="javascript:void(0);">展开</a>
        <a id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" style="top:20px;display:none" href="javascript:void(0);">收缩</a>
    </div>
    <div id="divFloatToolsView" class="floatR" style="display: none;min-height:237px;width: 140px;">
        <div class="cn">
            <h3 class="titZx" style="margin:0">在线客服</h3>
            <ul style="min-height:237px;">
                <li><span>赞木</span> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=284099857&amp;site=qq&amp;menu=yes"><img border="0" src="./聚现场_files/online.png" alt="点击这里给我发消息" title="点击这里给我发消息" onerror=""></a> </li>
                <li style="border:none;"><span>电话：13975325125</span> </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("#aFloatTools_Show").click(function(){
            $('#divFloatToolsView').animate({width:'show',opacity:'show'},100,function(){$('#divFloatToolsView').show();});
            $('#aFloatTools_Show').hide();
            $('#aFloatTools_Hide').show();
        });
        $("#aFloatTools_Hide").click(function(){
            $('#divFloatToolsView').animate({width:'hide', opacity:'hide'},100,function(){$('#divFloatToolsView').hide();});
            $('#aFloatTools_Show').show();
            $('#aFloatTools_Hide').hide();
        });
    });
    $(function(){
        //置顶按钮显示/隐藏实现
        $(window).scroll(function(){
            var w_height = $(window).height();//浏览器高度
            var scroll_top = $(document).scrollTop();//滚动条到顶部的垂直高度
            if(scroll_top >w_height){
                $("#goto-top").fadeIn(500);
            }else{
                $("#goto-top").fadeOut(500);
            }
        });
        //置顶
        $("#goto-top").click(function(e){
            e.preventDefault();
            $(document.documentElement).animate({
                scrollTop: 0
            },500);
            //支持chrome
            $(document.body).animate({
                scrollTop: 0
            },500);
        });
    })
</script>
<div id="footer">
    <p class="copy_right">聚现场©所有</p>
</div>
</block>